@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&family=Quicksand:wght@200;300;400&display=swap");

@font-face {
  font-family: "Stephani Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Stephani Regular"), url("./stephani.woff") format("woff");
}
