{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
    <h1 class="text-center">{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set" class="space-y-6">
        {% csrf_token %}
        {% for field in form %}
            {% include 'components/form_input.html' %}
        {% endfor %}
        <input class="auth-button-primary" type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
{% endblock %}
