{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1 class="text-center">{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change space-y-6">
        {% csrf_token %}
        {% for field in form %}
            {% include 'components/form_input.html' %}
        {% endfor %}
        <div class=" text-sm flex justify-end mt-2">
            <a class="font-semibold text-bue-600 hover:text-blue-500" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </div>
        <button type="submit" class="auth-primary-button" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
