{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1 class="text-center">{% trans "Employment Services & Coding Bootcamp Sign Up" %}</h1>


<form class="signup space-y-6" id="signup_form" method="post" action="{% url 'custom_account_signup' %}">
  {% csrf_token %}
  {% for field in form %}
    {% include 'components/form_input.html' %}
  {% endfor %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit" class="auth-primary-button">{% trans "Sign Up" %}</button>
</form>

{% endblock %}

