{% extends 'staff.html' %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}
{% block breadcrumbs %}
    {% breadcrumb 'Pipeline' 'cold_apply:index' %}
    {% breadcrumb 'Applicants'  %}
{% endblock breadcrumbs %}

{% block content %}
    <h1>Applicants</h1>
    
    <p>Below is the current list of people who have volunteered to participate in Hired Labs' Beta Trials.</p>
    <p class="text-muted">Data retrieved on {{ now|date }} at {{ now|time }} {{ TIME_ZONE }}</p>
    <h4>New Applicants</h4>

    {% if applicant_list.new %}
   
    <table class="table table-striped mb-5  border">
        <thead>
        <tr>
            <th class="th">Name</th>
            <th class="th">Created</th>
            <th class="th">Email</th>
            <th class="th">Phone</th>
            <th class="th">LinkedIn</th>
            <th class="th">Resume</th>
            <th class="th">Service Branch</th>
            <th class="th">MOS</th>
            <th class="th">Rank at Separation</th>
            <th class="th">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for applicant in applicant_list.new %}
                <tr class="tr">
                    <td class="td">
                        <a href="{% url 'cold_apply:applicant_detail' applicant.id %}">
                            {{applicant.full_name}}
                        </a>
                        
                    </td>
                    <td class="td">{{applicant.created_at|date:'d/m/y H:i'}}</td>
                    <td class="td">{{ applicant.email }}</td>
                    <td class="td">{{ applicant.phone}}</td>
                    <td class="td">{{ applicant.linkedin }}</td>
                    <td class="td">
                        {% if applicant.resume %}
                        <a href="{{applicant.resume.url}}" target="_blank">
                            {{ applicant.resume }}</a>
                            
                        {% else %}
                        No Resume Uploaded
                        {% endif %}
                    </td>
                        
                    <td class="td">{{ applicant.service_branch }}</td>
                    <td class="td">{{ applicant.military_specialiaty }}</td>
                    <td class="td">{{ applicant.rank_at_separation }}</td>
                    <td class="td">
                    <div class="d-flex">
                        <div class="me-3">
                            <a href="{% url 'cold_apply:add_participant' %}?applicant_id={{applicant.id}}&from={{request.path}}" class="btn btn-primary">Accept</a>
                        </div>
                        <div>
                            <a hx-confirm="Reject Applicant?" hx-boost="true" href="{% url 'cold_apply:applicant_reject' applicant.id %}" class="btn btn-danger">Reject</a>
                        </div>
                    </div>
                    </td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="mb-5">No new applicants</p>
    {% endif %}
    <h4>Accepted Applicants</h4>
    <table class="table table-striped mb-5 border w-full">
        <thead>
        <tr>
            <th class="th">Original Applicant</th>
            <th class="th">Participant</th>
            <th class="th">Email</th>
            <th class="th">Phone</th>
        </tr>
        </thead>
        <tbody>
        {% for applicant in applicant_list.accepted %}
                <tr class="tr">
                    <td class="td">
                        <a href="{% url 'cold_apply:applicant_detail' applicant.id %}">
                            {{ applicant.first_name }} {{applicant.last_name}}
                        </a>
                    </td>
                    <td class="td">
                        <a href="{% url 'cold_apply:participant_detail' applicant.participant.id %}">
                            {{ applicant.participant.first_name }} {{applicant.participant.last_name}}
                        </a>
                    </td>
                    <td class="td">{{ applicant.email }}</td>
                    <td class="td">{{ applicant.phone}}</td>
                  
                </tr>
        {% endfor %}
        </tbody>
    </table>
    <h4>Rejected Applicants</h4>
    <table class="table w-full mb-5  border">
        <thead>
        <tr>
            <th class="th">Name</th>
            <th class="th">Created</th>
            <th class="th">Updated</th>
            <th class="th">Email</th>
            <th class="th">Phone</th>
            <th class="th">LinkedIn</th>
            <th class="th">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for applicant in applicant_list.rejected %}
                <tr class="tr">
                    <td class="td">
                        <a href="{% url 'cold_apply:applicant_detail' applicant.id %}">
                            {{applicant.full_name}}
                        </a>
                        
                    </td>
                    <td class="td">{{applicant.created_at|date:'d/m/y H:i'}}</td>
                    <td class="td">{{applicant.updated_at|date:'d/m/y H:i'}}</td>
                    <td class="td">{{ applicant.email }}</td>
                    <td class="td">{{ applicant.phone}}</td>
                    <td class="td">{{ applicant.linkedin }}</td>
                    <td class="td">
                    <div class="d-flex">
                        <div class="me-3">
                            <a href="{% url 'cold_apply:add_participant' %}?applicant_id={{applicant.id}}&from={{request.path}}" class="btn btn-primary">Accept</a>
                        </div>
                    </div>
                    </td>
                </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}