{% extends 'base_app.html' %}
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <h1 class="navbar-brand">Hired Labs Participant Application</h1>
    </div>
</nav>
{% endblock navbar %}

{% block content %}
    <form class="post-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="row">
        <input class="btn btn-primary" type="submit" value="Submit">
            </div>
    </form>
    <br>
    <br>
    <div>
    <div class="row">
    <a class="btn btn-primary" onclick=closeWindow()>Cancel</a>
    </div>
    </div>
{% endblock %}

{% block scripts %}

    <script type="text/javascript">
        function closeWindow() {
            window.close();
        }
    </script>
{% endblock %}