{% extends 'staff.html' %}

{% block content %}
    <h3>Adding New Resume Bullet</h3>
    <p>For: {{ participant.name }}</p>
    <p>Experience: {{ experience.position.title }} at {{ experience.org.name }}</p>
    <p>{{ experience.start_date|date }} to {% if experience.end_date == None %}
        Present
        {% else %}
        {{ experience.end_date|date }}
        {% endif %}</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary" type="submit" value="Save">
    </form>
    <a class="btn btn-primary" onclick=closeWindow()>Cancel</a>
{% endblock %}

{% block scripts %}

    <script type="text/javascript">
        function closeWindow() {
            window.close();
        }
    </script>
{% endblock %}