{% extends 'staff.html' %}


{% block content %}
    <h2>Success</h2>
    <p>
        If you created this item from another creation page (e.g. creating a new company while creating a new job),
        you'll need to refresh that page to see your new item.
    </p>
    <br>
    <p>This page will self-destruct in a few seconds, but feel free to close it whenever you want (or if it fails to close
        itself).</p>
{% endblock %}

{% block scripts %}
    <script>
        setTimeout(function () {
            window.close();
        }, 5_000);
    </script>
{% endblock %}