{% extends 'staff.html' %}

{% block content %}
    <h3>Adding New Education</h3>
    <p>For: {{ participant.name }}</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary" type="submit" value="Save">
    </form>

    <a class="btn btn-primary" href="{% url 'cold_apply:create_company' %}" target="_blank">Add School</a>
{#    <a class="btn btn-primary" href="{% url 'cold_apply:create_degree'%}" target="_blank">Add Degree</a>#}
    <a class="btn btn-primary" onclick=closeWindow()>Cancel</a>
{% endblock %}

{% block scripts %}

    <script type="text/javascript">
        function closeWindow() {
            window.close();
        }
    </script>
{% endblock %}