{% extends 'base_app.html' %}
{% block breadcrumbs %}
    {% breadcrumb 'Pipeline' 'cold_apply:index' %}
    {% breadcrumb participant.user.get_full_name 'cold_apply:participant_detail' participant.id %}
    {% breadcrumb 'Experiences' 'cold_apply:participant_experience_list' participant.id %}
    {% breadcrumb "Add Experience" %}
{% endblock breadcrumbs %}

{% block content %}
    <h3>Adding New Experience</h3>
    <p>For: {{ participant.user.get_full_name }}</p>
    <form class="post-form space-y-4 max-w-md" method="post">
        {% csrf_token %}
        {% for field in form  %}
            {% include "components/form_input.html"  %}
        {% endfor %}
        <div>
            <input class="btn btn-primary" type="submit" value="Save">
            <a class="btn btn-primary" href="{% url 'cold_apply:participant_experience_list' participant.id %}">Cancel</a>
        </div>
    </form>
    <hr class="my-6">
    <a class="btn btn-primary" hx-get="{% url 'cold_apply:create_company' %}" hx-target="#modal">Add Organization</a>
    <a class="btn btn-primary" hx-get="{% url 'cold_apply:create_position'%}" hx-target="#modal">Add Position</a>
{% endblock %}
