{% extends 'base_app.html' %}
{% load form_helpers %}

{% block breadcrumbs %}
    {% breadcrumb 'Pipeline' 'cold_apply:index' %}
    {% breadcrumb participant.user.get_full_name 'cold_apply:participant_detail' participant.id %}
    {% breadcrumb 'Job Search' %}
{% endblock breadcrumbs %}

{% block content %}
<div class="grid grid-cols-3 gap-8">
    <div class="col-span-1">
        <form action="" method="post" class="flex flex-col gap-3">
        <h4>New Job Search</h4>
        <p>Set search parameters</p>
        
        {% csrf_token %}
        {% for field in form %}
            {% include 'components/form_input.html' %}
        {% endfor %}
        <div class="row">
        <div class="col-3">
            Search Radius
        </div>
            <div class="col-3">30 miles (48km)</div>
        </div>
        <div class="text-end">
            <a href="{% url 'cold_apply:participant_detail' participant.id %}" class="btn btn-outline-primary">Cancel</a>
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
        </form>
    </div>
    <div class="col-span-2">
        <h4>Applicant Information</h4>
        {% if applicant %}
        <div class="row mb-2">
            <div class="col-3">Location:</div>
            <div class="col-9">
                {{participant.location}}
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-3">Specialist Training:</div>
            <div class="col-9">
                {{applicant.special_training}}
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-3">Specialist Skills:</div>
            <div class="col-9">
                {{applicant.special_skills}}
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-3">Work Preferences</div>
            <div class="col-9">
                {{applicant.work_preferences}}
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-3">Service Branch:</div>
            <div class="col-9">
                {{applicant.service_branch}}
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-3">Military Specialiaty:</div>
            <div class="col-9">
                {{applicant.military_specialiaty}}
            </div>
        </div>
        {% else %}
            <p>Application data not found.</p>
        {% endif %}
    </div>
</div>
<hr class="my-5">
<div>
    <h3 class="text-lg font-medium">Recent Search history</h3>
    <table class="table table-striped border" style="table-layout: fixed;">
        <thead>
            <tr>
                <th class="th">Start Time</th>
                <th class="th">Jobs Found</th>
                <th class="th">Duplicate Count</th>
                <th class="th">Search Query</th>
                <th class="th">Keywords</th>
                <th class="th">Date Posted</th>
                <th class="th">Search Radius</th>
                <th class="th">Run By</th>
            </tr>
        </thead>
        <tbody>
            {% for search in job_searches %}
                <tr class="tr">
                    <td class="td">{{search.created_at|date:'d/m/y H:i:s'}}</td>
                    <td class="td">{{search.result_count}}</td>
                    <td class="td">{{search.duplicate_count}}</td>
                    <td class="td">{{search.search_query}}</td>
                    <td class="td">{{search.keywords_csv}}</td>
                    <td class="td">{{search.date_posted}}</td>
                    <td class="td">{{search.distance_miles}}</td>
                    <td class="td">{{search.run_by}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}