{% extends 'staff.html' %}

{% block breadcrumbs %}
    {% breadcrumb 'Pipeline' 'cold_apply:index' %}
    {% breadcrumb job.participant.full_name 'cold_apply:participant_detail' job.participant_id %}
    {% breadcrumb job.title|truncatechars:25 'cold_apply:job_detail' job.id %}
    {% breadcrumb 'Update Job' %}
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
    <div class="col-lg-6 py-3">
        <form method="post">
            {% csrf_token %}
            {% include "cold_apply/partials/job_form.html" %}
            <div class="d-flex justify-content-end">
                <a class="btn btn-outline-primary  me-3" href="{{success_url}}">Cancel</a>
                <input class="btn btn-primary" type="submit" value="Update Job">
            </div>
        </form>
    </div>
</div>

{% endblock %}
