{% extends 'base_app.html' %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}

{% block breadcrumbs %}
    {% if request.user.is_staff  %}
        {% breadcrumb 'Pipeline' 'cold_apply:index' %}
    {% endif %}
    {% breadcrumb object.participant.user.get_full_name 'cold_apply:participant_detail' object.participant_id %}
    {% breadcrumb object.title|truncatechars:25 %}
{% endblock breadcrumbs %}

{% block content %}
    <div class="text-2xl font-bold mb-4">
        {{object.title}}
    </div>
    <div class="grid grid-cols-4 max-w-lg">
        <div class="col-span-1">
            Status
        </div>

        <div class="col-span-3">
            {{ object.status }}
        </div>
        <div class="col-span-1">
            Status Reason
        </div>

        <div class="col-span-3">
            {{ object.status_reason }}
        </div>
        <div class="col-span-1">
            Last Updated
        </div>

        <div class="col-span-3">
            {{ object.updated_at|date }}
        </div>
        <div class="col-span-1">
            Updated By
        </div>

        <div class="col-span-3">
            {{ object.updated_by }}
        </div>
    </div>
    {% if keywords %}
    <h2 class="text-xl font-bold mt-5 mb-3">Keywords</h2>
    <div class="grid grid-cols-3 text-sm  max-w-3xl border">
        {% for keyword in keywords %}
            <div class="py-0.5 px-2 {% if forloop.counter0|divisibleby:2 %}bg-gray-100{% endif %}">{{ keyword.unigram }}</div>
            <div class="py-0.5  px-2 {% if forloop.counter0|divisibleby:2 %}bg-gray-100{% endif %}">{{ keyword.bigram }}</div>
            <div class="py-0.5  px-2 {% if forloop.counter0|divisibleby:2 %}bg-gray-100{% endif %}">{{ keyword.trigram }}</div>
        {% endfor %}
        
    </div>
    {% endif %}
    <div class="row py-3">
        <div class="col">
            <h3 class="text-xl font-bold mb-3">Actions</h3>
            <a class="btn btn-primary" href="{% url 'cold_apply:refresh_keywords' object.id %}">Refresh
                Keywords</a>
            <a class="btn btn-primary" href="{% url 'cold_apply:configure_tailored_resume'  job_pk=object.id %}" target="_blank">Tailor Resume</a>
            <a class="btn btn-primary" href="{% url 'cold_apply:update_job' object.id %}?from={{request.path}}">Edit Job</a>
        </div>
    </div>
    <div class="row py-3">
        <div class="col">
            <h3 class="text-xl font-bold mb-3">Description</h3>
            <p style="white-space: pre-wrap;">{{ object.description }}</p>
        </div>
    </div>
    <div class="row py-3">
        <h3 class="text-xl font-bold mb-3">Application Link</h3>
        <div class="col">
            <a href="{{object.application_link}}">{{ object.application_link }}</a>
        </div>
    </div>
   
{% endblock %}
