{% extends 'staff.html' %}
{% block content %}
<div class="py-4">
    <div class="d-flex justify-content-between">
        <h3>Locations List</h3>
        <a class="btn btn-primary" href="{% url 'cold_apply:create_location' %}">Add New Location</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for location in locations %}
                <tr>
                    <td>{{ location.city }}</td>
                    <td>{{ location.state }}</td>
                    <td>{{ location.country }}</td>
                    <td>
                        <a href="{% url 'cold_apply:location_detail' location.id %}">View</a> 
                        |
                        <a href="{% url 'cold_apply:update_location' location.id %}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}