{% extends 'staff.html' %}

{% block content %}
    <h3>Adding New Overview</h3>
    <p>For: {{ participant.name }}</p>
    <p>Title: {{ position.title }}</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary" type="submit" value="Save">
    </form>
    <a class="btn btn-primary" onclick=closeWindow()>Cancel</a>
{% endblock %}

{% block scripts %}

    <script type="text/javascript">
        function closeWindow() {
            window.close();
        }
    </script>
{% endblock %}