{% extends 'base_app.html' %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}

{% block breadcrumbs %}
    {% breadcrumb 'Pipeline' 'cold_apply:index' %}
    {% breadcrumb participant.full_name 'cold_apply:participant_detail' participant.id %}
    {% breadcrumb 'Experiences' %}
{% endblock breadcrumbs %}

{% block content %}
    <h1>Participant Experiences</h1>
    <h6>Participant: {{ participant.name }}</h6>
    <p class="text-muted">Data retrieved on {{ now|date }} at {{ now|time }} {{ TIME_ZONE }}</p>
    <div class="mb-4">
        <div>
            Layout:
        </div>
        <div>
            <span class="fw-bolder">Chronological</span> | <a href="{% url 'cold_apply:participant_experience_by_skill_list' participant.id %}">By Skill</a>
        </div>
    </div>
    <h3>Chronological Experience</h3>
    {% if experiences %}
        {% for exp in experiences %}
        <div class="mb-4">
            <h5>{{ exp.position }} at {{ exp.org }}</h5>

            <p class="text-muted">{{ exp.start_date }} -
            {% if exp.end_date == None %}
                Present
            {% else %}
                {{ exp.end_date }}
            {% endif %}
            <br>
            <a href="{% url 'cold_apply:update_experience' pk=exp.id %}"
               >Update Experience</a>
            <br>
            <a href="{% url 'cold_apply:delete_experience' exp.id %}" onclick="return confirm('Delete experience?')">Delete Experience</a>
            {%  if bullets %}
                <ul id="bullets_list_{{exp.id}}">
                {%  for bullet in bullets %}
                    {% if bullet.experience == exp %}
                        {% include 'cold_apply/partials/bullet_detail_li.html' with show_skill_badges=True %}
                    {% endif %}
                {% endfor %}
                </ul>
            {% endif %}
            </p>
            <div id="create_bullet_form_{{exp.id}}"></div>

            <a href="{% url 'cold_apply:create_bullet' participant.id %}?experience={{exp.id}}" 
               hx-get="{% url 'cold_apply:create_bullet' participant.id %}?experience={{exp.id}}" 
               hx-target="#create_bullet_form_{{exp.id}}"
               class="button"
               >Add Bullet</a>
        </div>
        {% endfor %}
    {% else %}
        <p>No Professional Experience Entered</p>
    {% endif %}
    <h3>Education</h3>
    {% if education %}
        {% for edu in education %}
            <h5>{{ edu.degree.abbr }} | {{ edu.concentration }} - {{ edu.org.name }}</h5>
            <p class="text-muted">
            <a href="{% url 'cold_apply:update_education' edu.id %}"
               target="_blank">Update Education</a>
        <br>
            <a href="{% url 'cold_apply:delete_education' edu.id %}" onclick="return confirm('Delete education?')">Delete Education</a>
            </p>
    {% endfor %}
        {% else %}
        <p>No Education Entered</p>
    {% endif %}
    <div class="pb-4">
        <a class="btn btn-primary" href="{% url 'cold_apply:create_experience' participant.id %}" >Add Experience</a>
        <a class="btn btn-primary" href="{% url 'cold_apply:create_education' participant.id %}" target="_blank">Add Education</a>
    </div>

    
{% endblock %}

{% block navigation %}
<a class="btn btn-primary" href="{% url 'cold_apply:participant_detail' participant.id %}">Back to Participant</a>
{% endblock navigation %}
