{% extends 'base_app.html' %}

{% block breadcrumbs %}
    {% breadcrumb 'Pipeline' 'cold_apply:index' %}
    {% breadcrumb object.full_name %}
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
    <div>
        <div class="d-flex align-items-center">
            <h3 class="me-3">{{ object.first_name }} {{object.last_name}}</h3>
            <div>
                {% if object.dnc %}
                <span class="badge rounded-pill text-bg-danger fs-6">Do Not Contact</span>
                {% else %}
                <span class="badge rounded-pill text-bg-success  fs-6">Contactable</span>
                {% endif %}
            </div>
        </div>

        <h5>
            {{object.location.city}}, {{object.location.state.abbreviation}}
        </h5>
        <h5>
            {% if object.veteran %}
            Veteran
            {% else %}
            Not a Veteran
            {% endif %}
        </h5>
        <p class="mb-0">{{ object.phone }}</p>
        <p>{{ object.email }}</p>
        <hr>
        <div class="mb-3">
            <h4>Summary</h4>
            <div class="row">
                <div class="col-3">Latest Work Experience:</div>
                <div class="col-9 text-muted">{{ latest_experience|default:"No data"}}</div>
            </div>   
            <div class="row">
                <div class="col-3">Highest Education:</div>
                <div class="col-9 text-muted">{{highest_edu}}</div>
            </div>   
            <div class="row">
                <div class="col-3">Uploaded Resume:</div>
                <div class="col-9 text-muted"><a href="{{ MEDIA_PREFIX }}{{ object.uploaded_resume }}" target="_blank">{{ object.uploaded_resume_title }}</a></div>
            </div>   
            <div class="row">
                <div class="col-3">Current Phase:</div>
                <div class="col-9 text-muted">{{ object.current_step.phase.title }}</div>
            </div>   
            <div class="row">
                <div class="col-3">Current Step:</div>
                <div class="col-9 text-muted">{{ object.current_step.title }}</div>
            </div>   
        </div>
        <p>
            <a href="{% url 'cold_apply:participant_experience_list' object.id %}">See All Education and Experience</a>
        </p>
    </div>
</div>
<hr>
<div class="row">
    <div>
        <div class="d-flex mb-3">
            <h4>Jobs</h4>
            {% if request.user.is_superuser %}
            <div class="ms-auto me-2">
                <a class="btn btn-primary" href="{% url 'cold_apply:create_job' object.id %}">
                                <i class="bi bi-plus-lg"></i>
                                Add a Job</a>
            </div>
            
            <div>
                <a href="{% url 'cold_apply:find_new_jobs' object.id %}" class="btn btn-primary">
                    <i class="bi bi-search"></i> Search for new jobs 
                </a>
            </div>
            {% endif %}
        </div>
        <div class="border accordion accordion-flush" id="jobs-panel-accordion">
            
            <div class="accordion-item"  id="new_jobs">
              <h2 class="accordion-header" id="jobs-panel-new-jobs-heading">
                <button class="accordion-button fw-bolder {% if not jobs.new.count %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#jobs-panel-new-jobs" aria-expanded="true" aria-controls="jobs-panel-new-jobs">
                  New Jobs ({{ jobs.new.count }})
                </button>
              </h2>
              <div id="jobs-panel-new-jobs" class="accordion-collapse collapse {% if jobs.new.count %}show{% endif %}" aria-labelledby="jobs-panel-new-jobs-heading">
                <div class="accordion-body">
                {% if request.session.task_id %}
                    <div hx-get="{% url 'cold_apply:task_status' %}" 
                        hx-trigger="load"
                        hx-swap="outerHTML"
                        id="task-alert">
                    
                    </div>
                {% elif jobs.new %}
                    {% include 'cold_apply/partials/new_jobs_table.html' %}
                {% else %}
                
                    No new jobs available. When new jobs are available, they will appear here and you can chose to add them to your open jobs list or remove them.
                
                {% endif %}
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="jobs-panel-open-jobs-heading">
                <button class="accordion-button  fw-bolder {% if not jobs.open.count %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#jobs-panel-open-jobs" aria-expanded="false" aria-controls="jobs-panel-open-jobs">
                  Open Jobs ({{jobs.open.count}})
                </button>
              </h2>
              <div id="jobs-panel-open-jobs" class="accordion-collapse collapse {% if jobs.open.count %}show{% endif %}" aria-labelledby="jobs-panel-open-jobs-heading">
                <div class="accordion-body">
                    <table class="table table-striped" style="table-layout: fixed;">
                        <thead>
                            <tr>
                                <th colspan="2">Title</th>
                                <th>Company</th>
                                <th>Location</th>
                                <th>Salary</th>
                                <th>Status</th>
                                <th>Posting</th>
                                <th>Posted At</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for job in jobs %}
                            {% if job.status == 'Open' %}
                            <tr>
                                <td  colspan="2"><a href="{% url 'cold_apply:job_detail' job.id %}">{{ job.title }}</a></td>
                                <td>{{ job.company }}</td>
                                <td>{{job.location|default:job.location_detail}}</td>
                                <td>{{job.salary}}</td>
                                <td  >
                                    <form hx-post="{% url 'cold_apply:job_status_update_modal' job.id %}" hx-target="#modal">
                                        <input type="hidden" name="status" value="Closed">
                                        {{job.status}}
                                        <button class="btn p-1 mb-1" type="submit"><i class="text-primary bi bi-caret-down-fill"></i></button>
                                        
                                    </form>
                                </td>
                                <td><a href="{{job.application_link|safe}}">{{job.application_agent}}</a></td>
                                <td>{{job.posted_at|date:"d/m/y"}}</td>
                                <td>
                                    {% include 'cold_apply/partials/job_actions.html' %}
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="jobs-panel-closed-jobs-heading">
                <button class="accordion-button fw-bolder {% if not jobs.closed.count %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#jobs-panel-closed-jobs" aria-expanded="false" aria-controls="jobs-panel-closed-jobs">
                  Closed Jobs ({{jobs.closed.count}})
                </button>
              </h2>
              <div id="jobs-panel-closed-jobs" class="accordion-collapse collapse {% if jobs.closed.count %}show{% endif %}" aria-labelledby="jobs-panel-closed-jobs-heading">
                <div class="accordion-body">
                    <table class="table table-striped"  style="table-layout: fixed;">
                        <thead>
                            <tr>
                                <th colspan="2">Title</th>
                                <th>Company</th>
                                <th>Location</th>
                                <th>Status</th>
                                <th>Closed Reason</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for job in jobs %}
                            {% if job.status == 'Closed' %}
                            <tr>
                                <td colspan="2"><a href="{% url 'cold_apply:job_detail' job.id %}">{{ job.title }}</a></td>
                                <td>{{ job.company }}</td>
                                <td>{{ job.location|default:job.location_detail }}</td>
                                <td>
                                    <form hx-post="{% url 'cold_apply:job_status_update_modal' job.id %}" hx-target="#modal">
                                        <input type="hidden" name="status" value="Open">
                                        {{job.status}}
                                        <button class="btn p-1 mb-1" type="submit"><i class="text-primary bi bi-caret-up-fill"></i></button>
                                        
                                    </form>
                                </td>
                                <td>{{ job.status_reason }}</td>
                                <td>
                                    {% include 'cold_apply/partials/job_actions.html' %}
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
<br>
<br>
<div class="row">
    <h3>Actions</h3>
    <div class="col">
       
        <a class="btn btn-primary" href="{% url 'cold_apply:update_participant' object.id %}">Update Participant</a>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const newJobs = document.getElementById('jobs-panel-new-jobs')
        if(window.location.hash === '#jobs-panel-new-jobs-heading' && !{{jobs.new.count}}) {
            
            new bootstrap.Collapse(newJobs, {toggle: true})
        }
      
    })

</script>
{% endblock %}

{% block navigation %}
<div class="col">
    <a class="btn btn-primary" href="{% url 'cold_apply:index' %}">Back to Pipeline</a>
</div>
{% endblock navigation %}