{% extends 'staff.html' %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}

{% block title %}
    <h1>Participant Experiences</h1>
    <h6>Participant: {{ participant.name }}</h6>
    <p class="text-muted">Data retrieved on {{ now|date }} at {{ now|time }} {{ TIME_ZONE }}</p>

    <div class="mb-4">
        <div>
            Layout:
        </div>
        <div>
            <span class="fw-bolder">Chronological</span> | <a href="#">By Skill</a>
        </div>
    </div>
{% endblock %}



{% block content %}
    <h3>Professional Experience</h3>
    {% if experiences %}
        {% for exp in experiences %}
        <div class="mb-4">
            <h5>{{ exp.position }} at {{ exp.org }}</h5>

            <p class="text-muted">{{ exp.start_date }} -
            {% if exp.end_date == None %}
                Present
            {% else %}
                {{ exp.end_date }}
            {% endif %}
            <br>
            <a href="{% url 'cold_apply:update_experience' pk=exp.id %}"
               target="_blank">Update Experience</a>
            <br>
            <a href="{% url 'cold_apply:delete_experience' exp.id %}">Delete Experience</a>
            {%  if bullets %}
                <ul id="bullets_list_{{exp.id}}">
                {%  for bullet in bullets %}
                    {% if bullet.experience == exp %}
                        {% include 'cold_apply/partials/bullet_detail_li.html' %}
                    {% endif %}
                {% endfor %}
                </ul>
            {% endif %}
            </p>
            <div id="create_bullet_form_{{exp.id}}"></div>

            <a href="{% url 'cold_apply:create_bullet' experience_pk=exp.id %}" 
               hx-get="{% url 'cold_apply:create_bullet' experience_pk=exp.id %}" 
               hx-target="#create_bullet_form_{{exp.id}}"
               class="button"
               >Add Bullet</a>
        </div>
        {% endfor %}
    {% else %}
        <p>No Professional Experience Entered</p>
    {% endif %}
    <h3>Education</h3>
    {% if education %}
        {% for edu in education %}
            <h5>{{ edu.education.degree.abbr }} | {{ edu.education.concentration }} - {{ edu.education.org.name }}</h5>
            <p class="text-muted">
            <a href="{% url 'cold_apply:update_education' edu.education.id %}"
               target="_blank">Update Education</a>
        <br>
            <a href="{% url 'cold_apply:delete_education' participant.id edu.education.id %}">Delete Education</a>
            </p>
    {% endfor %}
        {% else %}
        <p>No Education Entered</p>
    {% endif %}
    <a class="btn btn-primary" href="{% url 'cold_apply:create_experience' participant.id %}" target="_blank">Add Experience</a>
    <a class="btn btn-primary" href="{% url 'cold_apply:create_education' participant.id %}" target="_blank">Add Education</a>
    <a class="btn btn-primary" onclick=closeWindow()>Close this Tab</a>
{% endblock %}

{% block scripts %}

    <script type="text/javascript">
        function closeWindow() {
            window.close();
        }
    </script>
{% endblock %}