{% extends 'staff.html' %}

{% block content %}
    <form class="post-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div  class="mb-3" >
        {% url 'cold_apply:create_location' as create_location_url %}
        <a href="{{create_location_url}}" 
        hx-get="{{create_location_url}}"
        hx-target="#modal">Add new location</a>
        </div>
        <div>
            <input class="btn btn-primary" type="submit" value="Save">
            <a class="btn btn-primary" onclick=closeWindow()>Cancel</a>
        </div>
    </form>
{% endblock %}

{% block scripts %}

    <script type="text/javascript">
        function closeWindow() {
            window.close();
        }
    </script>
{% endblock %}