{% extends 'staff.html' %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}

{% block title %}
    <h1>Participant Pipeline</h1>
    <p>Below is Hired Labs' "Cold Apply" process. Participants start at the top (phase 1), and advance to appropriate
        phases down the page. Each phase has a brief explanation of the general activities it includes.</p>
    <p class="text-muted">Data retrieved on {{ now|date }} at {{ now|time }} {{ TIME_ZONE }}</p>
{% endblock %}

{% block content %}
    {# Phase 1 #}
    <div class="row">
        <h3 class="sub-header">Phase 1</h3>
        <p>Participant has shown interest. Initial outreach, coordination and execution of intake call are IN PROGRESS
            during this phase.</p>
        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th>Name</th>
                    <th>Updated at</th>
                    <th>Updated by</th>
                    <th colspan="2">Update</th>
                </tr>
                {% for participant in object_list %}
                    {% if participant.current_phase == 'PHASE_1' %}
                        <tr>
                            <td>
                                <a href="{% url 'cold_apply:participant_detail' participant.id %}"> {{ participant.name }}</a>
                            </td>
                            <td>{{ participant.updated_at }}</td>
                            <td>{{ participant.updated_by }}</td>
                            <td><a href="">Update</a></td>
                        </tr>
                    {% endif %}
                {% empty %}
                    <tr>
                        <td colspan="4">No participants</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {# Phase 2#}
    <div class="row">
        <h3 class="sub-header">Phase 2</h3>
        <p>Initial job search and resume creation IN PROGRESS after intake call. End product not shared with
            participant.</p>
        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th>Name</th>
                    <th>Updated at</th>
                    <th>Updated by</th>
                    <th colspan="2">Update</th>
                </tr>
                {% for participant in object_list %}
                    {% if participant.current_phase == 'PHASE_2' %}
                        <tr>
                            <td>
                                <a href="{% url 'cold_apply:participant_detail' participant.id %}"> {{ participant.name }}</a>
                            </td>
                            <td>{{ participant.updated_at }}</td>
                            <td>{{ participant.updated_by }}</td>
                            <td><a href="">Update</a></td>
                        </tr>
                    {% endif %}
                {% empty %}
                    <tr>
                    <td colspan="4">No participants</td>
                {% endfor %}
            </table>
        </div>
    </div>
    {# Phase 3 #}
    <div class="row">
        <h3 class="sub-header">Phase 3</h3>
        <p>End product of Phase 2 shared with participant. Applications and feedback on resume and job post list is IN
            PROGRESS.</p>
        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th>Name</th>
                    <th>Updated at</th>
                    <th>Updated by</th>
                    <th colspan="2">Update</th>
                </tr>
                {% for participant in object_list %}
                    {% if participant.current_phase == 'PHASE_3' %}
                        <tr>
                            <td>
                                <a href="{% url 'cold_apply:participant_detail' participant.id %}"> {{ participant.name }}</a>
                            </td>
                            <td>{{ participant.updated_at }}</td>
                            <td>{{ participant.updated_by }}</td>
                            <td><a href="">Update</a></td>
                        </tr>
                    {% endif %}
                {% empty %}
                    <tr>
                    <td colspan="4">No participants</td>
                {% endfor %}
            </table>
        </div>
    </div>
    {# Phase 4 #}
    <div class="row">
        <h3 class="sub-header">Phase 4</h3>
        <p>Iterative process to refine job search results and/or resume(s) is IN PROGRESS.</p>

        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th>Name</th>
                    <th>Updated at</th>
                    <th>Updated by</th>
                    <th colspan="2">Update</th>
                </tr>
                {% for participant in object_list %}
                    {% if participant.current_phase == 'PHASE_3' %}
                        <tr>
                            <td>
                                <a href="{% url 'cold_apply:participant_detail' participant.id %}"> {{ participant.name }}</a>
                            </td>
                            <td>{{ participant.updated_at }}</td>
                            <td>{{ participant.updated_by }}</td>
                            <td><a href="">Update</a></td>
                        </tr>
                    {% endif %}
                {% empty %}
                    <tr>
                    <td colspan="4">No participants</td>
                {% endfor %}
            </table>
        </div>
    </div>
    {# Phase 5 #}
    <div class="row">
        <h3 class="sub-header">Phase 5</h3>
        <p>Final feedback from participant. Documentation and analysis of feedback is IN PROGRESS.</p>

        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th>Name</th>
                    <th>Updated at</th>
                    <th>Updated by</th>
                    <th colspan="2">Update</th>
                </tr>
                {% for participant in object_list %}
                    {% if participant.current_phase == 'PHASE_5' %}
                        <tr>
                            <td>
                                <a href="{% url 'cold_apply:participant_detail' participant.id %}"> {{ participant.name }}</a>
                            </td>
                            <td>{{ participant.updated_at }}</td>
                            <td>{{ participant.updated_by }}</td>
                            <td><a href="">Update</a></td>
                        </tr>
                    {% endif %}
                {% empty %}
                    <tr>
                    <td colspan="4">No participants</td>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}