{% extends 'staff.html' %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}

{% block title %}
    <h1>Participant Experiences</h1>
    <h6>Participant: {{ participant.name }}</h6>
    <p class="text-muted">Data retrieved on {{ now|date }} at {{ now|time }} {{ TIME_ZONE }}</p>
{% endblock %}

{% block content %}
    <h3>Professional Experience</h3>
    {% if experiences %}

    {% for exp in experiences %}

            <h5>{{ exp.position }} at {{ exp.org }}</h5>
            <p class="text-muted">{{ exp.start_date }} -
            {% if exp.end_date == None %}
                Present
            {% else %}
                {{ exp.end_date }}
            {% endif %}
            <a href="{% url 'cold_apply:update_participant_experience' participant_pk=participant.id pk=exp.id %}"
               target="_blank">Update</a>
            <a href="{% url 'cold_apply:delete_experience' participant.id exp.id %}">Delete</a>
            </p>

    {% endfor %}
        {% else %}
        <p>No Professional Experience Entered</p>
    {% endif %}
    <h3>Education</h3>
    {% if education %}

        {% for edu in education %}
            <h5>{{ edu.education.degree.abbr }} | {{ edu.education.concentration }}</h5>
            <p class="text-muted">
                <a href="{{ edu.education.org.website }}">{{ edu.education.org.name }}</a>
{#            <a href="{% url 'cold_apply:update_participant_experience' participant_pk=participant.id pk=exp.id %}"#}
{#               target="_blank">Update</a>#}
{#            <a href="{% url 'cold_apply:delete_experience' participant.id exp.id %}">Delete</a>#}
            </p>

    {% endfor %}
        {% else %}
        <p>No Education Entered</p>
    {% endif %}
    <a class="btn btn-primary" href="{% url 'cold_apply:create_experience' participant.id %}" target="_blank">Add Experience</a>
    <a class="btn btn-primary" href="{% url 'cold_apply:create_education' participant.id %}" target="_blank">Add Education</a>
    <a class="btn btn-primary" onclick=closeWindow()>Close this Tab</a>
{% endblock %}

{% block scripts %}

    <script type="text/javascript">
        function closeWindow() {
            window.close();
        }
    </script>
{% endblock %}