{% extends 'staff.html' %}

{% block content %}
    <h1>{{ object.name }}</h1>
    <h3>
        {% if object.veteran %}
            Veteran
        {% else %}
            Not a Veteran
        {% endif %}
    </h3>
    {% if object.dnc %}
        <p class="text-danger">Do Not Contact</p>
    {% endif %}
    <p>Email: {{ object.email }} | Phone: {{ object.phone }}</p>
    <p>Current Phase: {{ object.current_step.phase.title }}</p>
    <p>Current Step: {{ object.current_step.title }}</p>
    <p>Uploaded Resume: {{ object.uploaded_resume_title }}
        {#        <a href="{{ MEDIA_URL }}{{ object.uploaded_resume }}">#}
        {#            {{ object.uploaded_resume_title }}#}
        {#        </a>{#TODO: update for prod#}
    </p>
    <br>
    <br>
    <p>Jobs found:</p>
    <ul>
        {% for job in jobs %}
            <li><a href="{% url 'cold_apply:job_detail' job.id %}">{{ job.title }}</a> at {{ job.company }}</li>
        {% endfor %}
    </ul>
    <br>
    <br>
    <div class="row">
        <h3>Actions</h3>
        <div class="col">
            {#            <a class="btn btn-primary" href="{% url 'cold_apply:participant_update' object.id %}">Update Participant#}
            {#                Info</a>#}
            <a class="btn btn-primary" href="{% url 'cold_apply:create_job' object.id %}">Add a Job</a>
            <a class="btn btn-primary" href="{% url 'cold_apply:update_participant' object.id %}">Update Participant</a>
        </div>
    </div>
    <div class="row">
        <h3>Navigation</h3>
        <div class="col">
            <a class="btn btn-primary" href="{% url 'cold_apply:index' %}">Back to Pipeline</a>
        </div>
    </div>
{% endblock %}