{% extends 'staff.html' %}

{% block content %}
    <div class="row">
        <h3>{{ object.name }}</h3>
        {% if object.dnc %}
            <p class="text-danger">Do Not Contact</p>
        {% else %}
            <p class="text-success">Contactable</p>
        {% endif %}
        <h5 class="sub-header">
            {% if object.veteran %}
                Veteran
            {% else %}
                Not a Veteran
            {% endif %}
        </h5>
        {% if latest_experience %}
            <h6 class="sub-header">Latest Work Experience</h6>
            <p>{{ latest_experience.position.title }} at {{ latest_experience.org.name }}: {{ latest_experience.start_date|date }} -
                {% if latest_experience.end_date == None %}
                    Present
                    {% else %}
                    {{ latest_experience.end_date|date }}
                    {% endif %}
            </p>
            {% else %}
                <p>No experience entered.</p>
        {% endif %}
        <br>
        <br>
        <h6>Highest Education</h6>
        {% if highest_edu %}
            {{ highest_edu.degree.abbr }} - {{ highest_edu.degree.concentration }} | {{ highest_edu.org.name }}
        {% else %}
            <p>No education entered.</p>
        {% endif %}
            <a href="{% url 'cold_apply:participant_experience_list' object.id %}" target="_blank">See All Education and Experience</a>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Current Phase</th>
                <th>Current Step</th>
                <th>Phone</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ object.current_step.phase.title }}</td>
                <td>{{ object.current_step.title }}</td>
                <td>{{ object.phone }}</td>
                <td>{{ object.email }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <p>Uploaded Resume: <a href="{{ MEDIA_PREFIX }}{{ object.uploaded_resume }}" target="_blank">
        {{ object.uploaded_resume_title }}</a>
    </p>
    <br>
    <br>
    <div class="row">
        <h4>Jobs</h4>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Total Jobs Found</th>
                <th>Open Jobs</th>
                <th>Participant Rejected Jobs</th>
                <th colspan="2">Add Jobs</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ totals.total }}</td>
                <td>{{ totals.open_jobs }}</td>
                <td>{{ totals.rejected }}</td>
                <td><a class="btn btn-primary" href="{% url 'cold_apply:create_job' object.id %}" target="_blank">Add a
                    Job</a></td>

        </table>
        <br>
        <br>
        <h5 class="sub-header">Open Jobs</h5>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Company</th>
                <th colspan="2">Remove</th>
            </tr>
            </thead>
            <tbody>
            {% for job in jobs %}
                {% if job.status == 'Open' %}
                    <tr>
                        <td><a href="{% url 'cold_apply:job_detail' job.id %}">{{ job.title }}</a></td>
                        <td>{{ job.company }}</td>
                        <td><a class="btn btn-primary" href="{% url 'cold_apply:delete_job' job.id %}">Delete</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <br>
        <br>
        <h5 class="sub-header">Closed Jobs</h5>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Company</th>
                <th>Closed Reason</th>
                <th>Remove Jobs</th>
            </tr>
            </thead>
            <tbody>
            {% for job in jobs %}
                {% if job.status == 'Closed' %}
                    <tr>
                        <td><a href="{% url 'cold_apply:job_detail' job.id %}">{{ job.title }}</a></td>
                        <td>{{ job.company }}</td>
                        <td>{{ job.status_reason }}</td>
                        <td><a class="btn btn-primary" href="{% url 'cold_apply:delete_job' job.id %}">Delete</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <br>
    <div class="row">
        <h3>Actions</h3>
        <div class="col">
            {#            <a class="btn btn-primary" href="{% url 'cold_apply:participant_update' object.id %}">Update Participant#}
            {#                Info</a>#}
            <a class="btn btn-primary" href="{% url 'cold_apply:create_job' object.id %}" target="_blank">Add a Job</a>
            <a class="btn btn-primary" href="{% url 'cold_apply:update_participant' object.id %}" target="_blank">Update Participant</a>
        </div>
    </div>
    <div class="row">
        <h3>Navigation</h3>
        <div class="col">
            <a class="btn btn-primary" href="{% url 'cold_apply:index' %}">Back to Pipeline</a>
        </div>
    </div>
{% endblock %}