{% extends 'userprofile/onboarding_base.html' %}

{% block form %}


<form action="" method="POST" class="space-y-5" enctype="multipart/form-data">
    {% csrf_token %}
    {% if not profile.veteran_verified %}
    <div role="alert" class="rounded border-s-4 border-red-500 bg-red-50 p-4 ">
        <strong class="block font-medium text-red-800"> Verification Error </strong>
        <div class="mt-2 text-sm text-red-700 space-y-2 ">
            <div>
                We were unable to automatically verify your Veteran status with the VA.
            </div>
            <div>
                <p>Please try again, or upload a copy of your DD214 on the next page.</p>
            </div>
        </div>

      </div>
    {% else %}
    <div role="alert" class="rounded border-s-4 border-green-500 bg-green-50 p-4">
        <strong class="block font-medium text-green-800">Veteran Status Verified</strong>
        <div class="mt-2 text-sm text-green-700 space-y-2 ">
            <div>
                <p class="mt-2 text-sm text-green-700">
          We have successfully verified your Veteran status with the VA; thank you for your service!
        </p>
            </div>
            <div>
                <p>You now have instant access to all of our features.</p>
            </div>
            <div>
                <p>We also manually verify Veteran status; please upload a copy of your DD214 below.</p>
            </div>
        </div>
      </div>

    {% endif %}
    <div>
        <strong class="block font-medium text-red-800">REMOVE OR COVER YOUR SSN BEFORE UPLOADING!</strong>
    </div>
    <h2>Upload DD214</h2>
    <div x-data="{touched: false}">
    <label for="id_service_doc" class="sr-only">Choose file</label>
    <input @input="touched=true" type="file" name="service_doc" id="id_service_doc" class="block w-full border border-gray-200 shadow-sm rounded-md text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400
    
        file:bg-transparent file:border-0
        file:bg-gray-100 file:mr-4
        file:py-3 file:px-4
        dark:file:bg-gray-700 dark:file:text-gray-400">

        {% if form.service_doc.errors %}
        <div x-show="!touched" class="text-red-500 font-medium text-sm mt-2">
            {{ form.service_doc.errors }}
        </div>
        {% endif %}
    </div>
    <button type="submit" class="auth-primary-button">Next</button>    
</form>

{% endblock form %}