{% extends 'userprofile/onboarding_base.html' %}

{% block form %}


<form action="" method="POST" class="space-y-5">
    {% csrf_token %}
    {% if not profile.veteran_verified %}
    <div role="alert" class="rounded border-s-4 border-red-500 bg-red-50 p-4 ">
        <strong class="block font-medium text-red-800"> Veteran Verification Error </strong>
        <div class="mt-2 text-sm text-red-700 space-y-2 ">
            <div>
                We were unable to automatically verify your veteran status, we will need to contact you to confirm it.
            </div>
            <div>
                This will require your DD214 or other proof of service.
            </div>
        </div>
       
      </div>
    {% else %}
    <div role="alert" class="rounded border-s-4 border-green-500 bg-green-50 p-4">
        <strong class="block font-medium text-green-800"> Verification Succeeded </strong>
      
        <p class="mt-2 text-sm text-green-700">
          We have verified your veteran status with the VA.
        </p>
      </div>
      
    {% endif %}
    {% for field in form %}
        {% include 'components/form_input.html' %}
    {% endfor %}
    <button type="submit" class="auth-primary-button">Next</button>    
</form>

{% endblock form %}