{% extends 'base.html' %}

{% block content %}

  <div class="container">
    {% if user_profile %}
    <h2>User Details</h2>
    {% for profile in user_profile %}
    <p>First Name: {{ user.first_name}}</p>
    <p>Last Name: {{ user.last_name}}</p>
    <p>Email: {{ user.email }}</p>
    <p>Nickname: {{ profile.nickname }}</p>
        <button type="button" onclick="location.href='{% url 'userprofile:update_profile' %}'">Change Nickname</button>

    {% endfor %}
    {% else %}
      <p>You haven't completed your profile!</p>
      <button type="button" onclick="location.href='{% url 'userprofile:update_profile' %}'">Change Nickname</button>
    {% endif %}
  </div>

{% endblock %}
