{% extends 'staff.html' %}

{% block content %}

    <div class="container">
        <h2>User Profile</h2>
        <div class="space-y-6">
            <p>First Name: {{ user.profile.first_name }}</p>
            <p>Last Name: {{ user.profile.last_name }}</p>
            <p>Email: {{ user.email }}</p>
            <p>Nickname: {{ user.profile.nickname }}</p>
            <p>Veteran Status:</p>
            {% if user.profile.is_veteran %}
                {{ user.profile.service_branch }} Veteran
                {% if user.profile.veteran_verified %}
                    <span class="rounded-md bg-green-100 text-green-700  p-1">Verified</span>
                {% else %}
                    <span class="rounded-md bg-red-100 text-red-700 p-1">Not Verified</span>
                {% endif %}
            {% else %}
                Not a Veteran
            {% endif %}
            <a href="{% url 'userprofile:profile_update_view' %}" class="btn btn-primary">Update Profile
            </a>
        </div>

        
    </div>

{% endblock %}
