{% extends 'base.html' %}
{% load static %}

{% block body %}

    {% comment %} <form action="" method="POST">
        {% csrf_token %}
        

        <button type="submit">Submit</button>
        <button type="reset">Reset</button>
        <a href="{% url 'home' %}">Cancel</a>

    </form> {% endcomment %}
    <div class="flex min-h-full flex-col  px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
          <img class="mx-auto h-10 w-auto" src="{% static 'assets/logo.png' %}" alt="Hired Labs">
          <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Create an account</h2>
        </div>
        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
          <h2 class="sr-only">Steps</h2>
        
          <div>
            <div class="overflow-hidden rounded-full bg-gray-200">
              <div class="h-2 w-1/2 rounded-full bg-blue-500"></div>
            </div>
        
            <ol class="mt-4 grid grid-cols-3 text-sm font-medium text-gray-500">
                <a href="{% url 'userprofile:register_veteran_status' %}">
              <li class="flex items-center justify-start text-blue-600 sm:gap-1.5">
                <span class="hidden sm:inline"> Status </span>
        
                    <svg
                    class="h-6 w-6 sm:h-5 sm:w-5"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="2"
                    >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2"
                    />
                    </svg>
                </li>
            </a>
        
              <li class="flex items-center justify-center text-blue-600 sm:gap-1.5">
                <span class="hidden sm:inline"> Details </span>
        
                <svg
                  class="h-6 w-6 sm:h-5 sm:w-5"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
                  />
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"
                  />
                </svg>
              </li>
        
              <li class="flex items-center justify-end sm:gap-1.5">
                <span class="hidden sm:inline"> Upload CV </span>
        
                <svg
                  class="h-6 w-6 sm:h-5 sm:w-5"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z"
                  />
                </svg>
              </li>
            </ol>
          </div>
        
        
        
        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
          <form class="space-y-6" action="#" method="POST" x-data="{veteran_status: ''}">
              {% csrf_token %}
            <div>
                <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email address</label>
                <div class="mt-2">
                    <input id="email" name="email" type="email" autocomplete="email" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6">
                </div>
            </div>
    
          <div>
            <div class="flex items-center justify-between">
              <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
            </div>
            <div class="mt-2">
              <input id="password" name="password" type="password" autocomplete="current-password" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6">
            </div>
          </div>
          <div>
            <div class="flex items-center justify-between">
              <label for="password2" class="block text-sm font-medium leading-6 text-gray-900">Confirm Password</label>
            </div>
            <div class="mt-2">
              <input id="password2" name="password2" type="password2"  required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6">
            </div>
          </div>
          <div>
            <button type="submit" class="flex w-full justify-center rounded-md bg-blue-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">Next</button>
          </div>
          <div class="text-sm">
            <a href="{% url 'userprofile:register_veteran_status' %}" class="font-semibold text-blue-600 hover:text-blue-500">Go back</a>
          </div>
          </form>
      
          
        </div>

      </div>
    </div>

{% endblock body %}
