{% extends 'staff.html' %}

{% block content %}
    <h2>Change Nickname</h2>
    <form class="post-form" action="" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div>
                <p>
                    {{ field.label }}: <br> {{ field }}
                </p>

                {% for error in field.errors %}
                    <small style="color: red">{{ error }}</small>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit">Submit</button>
        <button type="button" onclick="location.href='{% url 'userprofile:profile_view' %}'">Cancel</button>
    </form>
{% endblock %}
