{% extends 'staff.html' %}

{% block content %}
    <h2>Update Veteran Status</h2>
    <p>Update the veteran status for {{ profile.user.get_full_name }}.</p>
    <p>Current veteran status: {{ profile.is_veteran }}</p>
    {% if veteran_profile.service_doc %}
        {% if debug %}
            <div class="col-span-5 text-gray-600"><a href="{{ MEDIA_PREFIX }}{{ veteran_profile.service_doc }}" target="_blank">View Uploaded Service Doc</a></div>
        {% else %}
            <div class="col-span-5 text-gray-600"><a href="{{signed_url}}" target="_blank">View Uploaded Resume</a></div>
        {% endif %}

    {% else %}
        <p>No service doc uploaded.</p>
    {% endif %}
    <div class="container">
    {% if user.is_staff %}
        {% url "cold_apply:index" as cancel_url %}
    {% else %}
        {% url "cold_apply:home" as cancel_url %}
    {% endif %}
        {% include "forms/standard_form.html" with form=form %}
    </div>

{% endblock %}