{% extends 'staff.html' %}

{% block content %}
    <h2>Update Veteran Status</h2>
    <p>Update the veteran status for {{ profile.user.get_full_name }}.</p>

    <p>Current veteran status:</p>
    {% if profile.veteran_verified %}
            <span class="rounded-md bg-green-100 text-green-700  p-1">Verified</span>
            {% else %}
            <span class="rounded-md bg-red-100 text-red-700 p-1">Not Verified</span>
    {% endif %}
    <br>
    <br>
    {% if profile.service_doc %}
            <div class="col-span-5 text-gray-600">
                {% if debug %}
                    <a href="{{ MEDIA_PREFIX }}{{ profile.service_doc }}"target="_blank">
                {% else %}
                    <a href="{{ signed_url }}"target="_blank">
                {% endif %}
                    View Uploaded Service Doc
                </a>
            </div>
    {% else %}
        <p>No service doc uploaded.</p>
    {% endif %}
    <div class="container">
        {% url 'cold_apply:index' as cancel_url %}
        {% include "forms/standard_form.html" with form=form %}
    </div>

{% endblock %}