[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
django = "*"
django-environ = "*"
sqlparse = "*"
mysqlclient = "*"
requests = "*"
joblib = "*"
nltk = "*"
pandas = "*"
striprtf = "*"
scikit-learn = "*"
django-q = "*"
"pdfminer.six" = "*"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.10"
