{% load form_helpers %}
{% with input_classes="flex flex-col w-full space-y-2" input_attrs=input_attrs|default:"" %}
    <div class="{{ input_classes }}{% if field.field.widget.is_hidden %} hidden{% endif %}" x-data="{touched:false}">
        <label class="{{ label_classes|default:'block text-sm font-medium leading-6 text-gray-900' }} form-label">
            {% if label_text %}
                {{ label_text }}
            {% else %}
                
                    {{ field.label }}
                
            {% endif %}
        </label>
        {{ field|bootstrap_input|error_class:"bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500"|input_class:"rounded-md border py-1.5 text-gray-900 shadow-sm border-gray-300 placeholder:text-gray-400 sm:text-sm sm:leading-6"|input_attrs:input_attrs }}
        {% if field.errors %}<span class="text-red-500 text-sm" :class="{'hidden':touched}">{{ field.errors }}</span>{% endif %}
    </div>
{% endwith %}
