{% load form_helpers %}
{% with input_classes="flex flex-col w-full space-y-2" label_classes="block label text-sm" %}
    <div class="{{ input_classes }}{% if field.field.widget.is_hidden %} hidden{% endif %}" x-data="{touched:false}">
        <label class="{{ label_classes }}">
            {% if label_text %}
                {{ label_text }}
            {% else %}
                
                    {{ field.label }}
                
            {% endif %}
        </label>
        {{ field|error_class:"bg-red-50 border border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500"|input_class:"rounded-md" }}
        {% if field.errors %}<span class="text-red-500 text-sm" :class="{'hidden':touched}">{{ field.errors }}</span>{% endif %}
    </div>
{% endwith %}
