{% extends 'staff.html' %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block content %}

     <p>Targeted to: {{ job.title }} at {{ job.company }} on: {{ now|date }}</p>
    <a href="{{ MEDIA_URL }}resumes/{{ participant.first.name }}/{{ job.company }}_{{ job.title }}.pdf" target="_blank">See Pdf</a>
{% endblock %}
{% block header %}
    <!-- <span id="right-fill"></span> -->
    <header>
        <div class="centered-content">
            <h1>{{ participant.first.name }}</h1>
            <p>{{ participant.first.email }} | {{ participant.first.phone }}</p>
        </div>
    </header>

{% endblock %}

{% block overview %}
    <h3>Overview</h3>
    <div id="overview">
        {% if overview %}
            <p>
                {% for summary in overview %}
                    {{ summary.text }}
                    <a href="{% url 'cold_apply:update_overview' pk=summary.id position_pk=job.title_id %}" target="_blank">Edit Overview</a>
                {% endfor %}
            </p>
        {% else %}
            <a href="{% url 'cold_apply:create_overview' pk=participant.first.id position_pk=job.title_id %}" target="_blank">Add Overview</a>
        {% endif %}
    </div>
    <br>
    <br>
{% endblock %}

{% block work %}

    <div id="work">
        <h3>Professional Experience</h3>
        <a href="{% url 'cold_apply:create_experience' pk=participant.first.id %}" target="_blank">Add Work Experience</a>
        {% if experiences %}
            {% for experience in experiences %}
                <h5><a href="{% url 'cold_apply:update_participant_experience' participant_pk=participant.first.id pk=experience.id %}" target="_blank">{{ experience.position }} at {{ experience.org }}</a></h5>
                <p>{{ experience.start_date|date }} -
                    {% if experience.end_date == None %}
                Present
                {% else %}
                {{ experience.end_date|date }}
                {% endif %}
                </p>
                <a href="{% url 'cold_apply:create_bullet' pk=participant.first.id experience_pk=experience.id %}" target="_blank">Add bullet statements</a>
                {% for bullet, text in weighted_set.items %}
                <ul>
                    {% if bullet == experience.id %}
                        {% for point in text.values %}
                            {% for text in weighted_bullets %}
                                {% if point.bullet_id == text.bullet.id %}
                                    <li>{{ text.bullet.text }}  ({{ text.weight }}) <a href="{% url 'cold_apply:update_bullet' pk=text.bullet.id experience_pk=experience.id %}" target="_blank">[edit]</a></li>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                </ul>
                {% endfor %}
            {% endfor %}
        {% else %}
            <p>No experience found. Either you haven't had a job, or you haven't entered any work experience into our
                system.</p>
        {% endif %}

        {% if education %}
        {% else %}
        <p>No education entered </p>
        {% endif %}
    </div>
    <br>
    <br>
{% endblock %}

