{% extends 'staff.html' %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block content %}

     <p>Targeted to: {{ job.title }} at {{ job.company }} on: {{ now|date }}</p>
    <a href="{{ MEDIA_URL }}resumes/{{ participant.name }}/{{ job.company }}_{{ job.title }}.pdf" target="_blank">See Pdf</a>

{% endblock %}
{% block header %}
    <!-- <span id="right-fill"></span> -->
    <header>
        <div class="centered-content">
            <h1>{{ participant.name }}</h1>
            <p>{{ participant.email }} | {{ participant.phone }}</p>
        </div>
    </header>

{% endblock %}

{% block overview %}
{% if "overview" in form.sections.value %}
    <h3>Overview</h3>
    <div id="overview">
        {% if overview %}
            <p>
                {% for summary in overview %}
                    {{ summary.text }}
                    <a href="{% url 'cold_apply:update_overview' pk=summary.id position_pk=job.title_id %}" target="_blank">Edit Overview</a>
                {% endfor %}
            </p>
        {% else %}
            <a href="{% url 'cold_apply:create_overview' pk=participant.id position_pk=job.title_id %}" target="_blank">Add Overview</a>
        {% endif %}
    </div>
    <br>
    <br>
{% endif %}
{% endblock %}

{% block work %}
<div id="work">
    {% if bullets_content == "chronological" %}
        <h3>Professional Experience</h3>
        <a href="{% url 'cold_apply:create_experience' pk=participant.id %}" target="_blank">Add Work Experience</a>
        {% for experience in chronological_experiences %}
        <h5>
            <a href="{% url 'cold_apply:update_experience' pk=experience.obj.id %}" target="_blank">
                {{ experience.obj.position }} at {{ experience.obj.org }}
            </a>
        </h5>
        <p>{{ experience.obj.start_date|date }} -
            {% if experience.obj.end_date == None %}
        Present
        {% else %}
        {{ experience.obj.end_date|date }}
        {% endif %}
        </p>
            <ul>
                {% for bullet in experience.bullets %}
                    {% include 'cold_apply/partials/bullet_detail_li.html' with bullet=bullet.bullet extra_text=bullet.weight_display %}
                    {% endfor %}
            </ul>
        {% endfor %}
        {% if not chronological_experiences %}
            <p>No experience found. Either you haven't had a job, or you haven't entered any work experience into our
                system.</p>
        {% endif %}
    {% elif bullets_content == "skills" %}
        <h3>Professional Skills</h3>
        {% for skill in skills_with_bullets %}
            <h5>{{skill.obj}}</h5>
            <ul>
                {% for bullet in skill.bullets %}
                {% include 'cold_apply/partials/bullet_detail_li.html' with show_experience_subtext=True bullet=bullet.bullet extra_text=bullet.weight_display %}             
                {% endfor %}
            </ul>
        {% endfor %}
    {% endif %}
    
    {% if "education" in form.education.value %}
    <h3>Education</h3>
    {% if education %}
        {% for edu in education %}
            {{ edu.degree.abbr }} in {{ edu.concentration }} at {{ edu.org }}
        {% endfor %}
    {% else %}
    <p>No education entered </p>
    {% endif %}
    {% endif %}
    </div>
    <br>
    <br>
{% endblock %}

