{% extends 'resume/base_resume.html' %}

{% block head %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald&family=Source+Code+Pro:wght@400;700&display=swap" rel="stylesheet"> 
{% endblock head %}



{% block content %}

<div class="container-fluid p-5">
    <!-- Name  -->
    

    <div  class="row mb-4 oswald">
        <div class="col">
            <div class="accent fs-5">{{job.participant.phone}}</div>
            <div class="accent mb-4 fs-5">{{job.participant.email}}</div>
            <h1>{{job.participant.name}}</h1>
            <div style="width:100%; border-top:3px solid black;" class="mb-3"></div>
        </div>
    </div>
    <!-- Overview  -->
    {% if "overview" in form.sections.value %}
    <div class="row my-4">
        <div class="col">
            <h3 class="oswald mb-4">Profile</h3>
            <div class="text-muted">{{overview.text}}</div>
        </div>
    </div>
    {% endif %}

    <!-- Bullets  -->
    <div  class="row my-4">
        <div class="col">

            {% if bullets_content == "skills" %}
            <h3 class="oswald mb-4">Skills</h3>
            {% for skill in skills_with_bullets %}
                <h4 class="fw-bolder accent">{{skill.obj}}</h4>
                <ul  class="text-muted ">
                    {% for weighted_bullet in skill.bullets %}
                        {% include 'resume/partials/weighted_bullet.html' %}
                    {% endfor %}
                </ul>
            {% endfor %}
            {% elif bullets_content == "chronological" %}
            <h3 class="oswald mb-4">Experience</h3>
            {% for experience in chronological_experiences %}
                <h4><span class="accent fw-bold">{{experience.obj.org}}</span> -  <span class="text-muted fst-italic">{{experience.obj.position}}</span></h4>
                <p class="text-muted">{{ experience.obj.start_date|date }} - {{experience.obj.end_date | date|default:"Present"}}</p>
                <ul class="text-muted">
                    {% for weighted_bullet in experience.bullets %}
                        {% include 'resume/partials/weighted_bullet.html' %}
                    {% endfor %}
                </ul>
            {% endfor %}
            {% endif %}
        </div>
    </div>

    <!-- Education  -->
    {% if "education" in form.sections.value and education %}
    <div  class="row my-4">
        <div class="col">
            <h3 class="oswald mb-4">Education</h3>
            {% for edu in education %}
                <h4><span class="accent fw-bold">{{ edu.org }}</span> - <span class="text-muted fst-italic">{{ edu.degree.abbr }} in {{ edu.concentration }}</span></h4>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <!-- Awards  -->
    {% if "certifications" in form.sections.value and certifications %}
    <div  class="row my-4">
        <div class="col">
            <h3 class="oswald mb-4">Awards</h3>
            {% for cert in certifications %}
            <div>{{cert}}</div>
            {% endfor %}
    </div>
    </div>
    {% endif %}
    

</div>

{% endblock content %}



{% block styles %}
<style>
    body, html {
        font-size: 9px;
        font-family:'Source Code Pro', monospace; 
    }

    .oswald {
        font-family: 'Oswald', sans-serif;
    }
    
    ul {
        padding-left: 5rem;
    }

</style>
{% endblock styles %}



{% block colors %}
.accent {
    color: #e91d63
}
{% endblock colors %}