{% extends 'resume/base_resume.html' %}

{% block content %}

<div class="px-4">
    <!-- Name  -->
    <div class="row">
        <div class="col text-center">
            <h2 class="fw-bold accent">{{job.participant.name}}</h2>
            <h5>{{job.participant.experience_set.first.position  }}</h5>
            <div>{{job.participant.phone}} / {{job.participant.email}}</div>
            <div>{{participant.location.city}}, {{participant.location.state.abbreviation}}</div>
        </div>
    </div>
    <!-- Overview  -->
    {% if "overview" in form.sections.value %}
    <div class="row my-4 border-top border-2  pt-2">
        <div class="col-3 p-0">
            <h5 class="fw-bolder accent">Profile</h4> 
        </div>
        <div class="col-9">
            {% include 'resume/partials/overview.html' %}
        </div>
    </div>
    {% endif %}

    <!-- Bullets  -->
    
    <div  class="row my-4  border-top border-2 pt-2">
        <div class="col-3 p-0">
            <h5 class="fw-bolder accent">
                {% if bullets_content == "skills" %}
                    Skills
                {% elif bullets_content == "chronological" %}
                    Experience
                {% endif %}
            </h4>
        </div>
        <div class="col-9">
            {% if bullets_content == "skills" %}
            {% for skill in skills_with_bullets %}
                <h6 class="fw-bolder">{{skill.obj}}</h6>
                <ul>
                    {% for weighted_bullet in skill.bullets %}
                        {% include 'resume/partials/weighted_bullet.html'  with experience_subtext=True %}
                    {% endfor %}
                </ul>
            {% endfor %}
            {% elif bullets_content == "chronological" %}
                {% for experience in chronological_experiences %}
                    <div class="fs-6"><span class="fw-bold">{{experience.obj.position}}</span>- <span class="fst-italic fs-6">{{ experience.obj.start_date|date }} - {{experience.obj.end_date | date|default:"Present"}}</span> </div>
                    <div class="text-muted mb-2">{{experience.obj.org}}</div>
                    <ul>
                        {% for weighted_bullet in experience.bullets %}
                        {% include 'resume/partials/weighted_bullet.html' %}
                    {% endfor %}
                    </ul>
                {% endfor %}
            {% endif %}
            
        </div>
    </div>

    <!-- Education  -->
    {% if "education" in form.sections.value and education %}
    <div  class="row my-4  border-top border-2 pt-2">
        <div class="col-3 p-0">
            <h5 class="fw-bolder  accent">Education</h4>
        </div>
        <div class="col-9">
        {% for edu in education %}
            <h6 ><span class="fw-bolder">{{ edu.org }}</span> / {{ edu.degree.abbr }} in {{ edu.concentration }} {{ edu.get_status_display }}</h6>
        {% endfor %}
        </div>
    </div>
    {% endif %}
</div>

{% endblock content %}

{% block styles %}
    <style>
        body,html {
            font-family:  Arial;
            font-size: 9pt
        }
        
      
    </style>
{% endblock styles %}
{% block colors %}
    <style>
        .accent {
            color: #4c6685
        }
    </style>

{% endblock colors %}







