{% extends 'resume/base_resume.html' %}

{% block content %}
<div class="px-4">
    <header>
        <div class="text-center">
            <h1>{{ participant.name }}</h1>
            <p>{{ participant.email }} | {{ participant.phone }}</p>
        </div>
    </header>
    {% if "overview" in form.sections.value %}
    <div class="fs-6 fw-bolder">Overview</div>
    <div id="overview" class=" mb-3">
        {{overview.text}}
    </div>
         
    {% endif %}

    {% if "bullets" in form.sections.value %}
    {% if bullets_content == "chronological" %}
        <div class="fs-6 fw-bolder text-center">Professional Experience</div>
        {% for experience in chronological_experiences %}
            <div>
                <div class="d-flex justify-content-between">
                    <div>
                        <div class="fs-6 fw-bolder">{{ experience.obj.position }} at </div>
                        <div class="fst-italic">{{ experience.obj.org }}</div>
                    </div>
                    <div class="fst-italic">
                        {{ experience.obj.start_date|date }} -
                    {% if experience.obj.end_date == None %}
                        Present
                    {% else %}
                        {{ experience.obj.end_date|date }}
                    {% endif %}
                    </div>
                
                </div>
           
                <ul>
                    {% for weighted_bullet in experience.bullets %}
                        {% include 'resume/partials/weighted_bullet.html' %}
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
        {% if not chronological_experiences %}
            <p>No experience found. Either you haven't had a job, or you haven't entered any work experience into our
                system.</p>
        {% endif %}
    {% elif bullets_content == "skills" %}
        <div class="fs-5 fw-bolder">Professional Skills</div>
        {% for skill in skills_with_bullets %}
            <h5>{{skill.obj}}</h5>
            <ul>
                {% for weighted_bullet in skill.bullets %}
                    {% include 'resume/partials/weighted_bullet.html' %}
                {% endfor %}
            </ul>
        {% endfor %}
    {% endif %}
    {% endif %}

    {% if "education" in form.sections.value %}
    <div class="fs-6 fw-bolder text-center">Education</div>
    {% if education %}
    <ul>
        {% for edu in education %}
           <li> {{ edu.degree.abbr }} in {{ edu.concentration }} at {{ edu.org }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No education entered </p>
    {% endif %}
    {% endif %}

</div>
{% endblock content %}