{% extends 'resume/base_resume.html' %}

{% block content %}

<div class="container-fluid">
    <!-- Name  -->
    <div  class="row mb-4">
        <div class="col-4">
            <h3 class="fw-bold">{{job.participant.name}}</h3>
            <p>{{job.participant.experience_set.first.position  }}</p>
        </div>
        <div class="col-8">
            <div style="width:100%; border-top:3px solid black;" class="mb-3"></div>
            <h6 class="fw-bolder">{{job.participant.name}}</h6>
            <div>{{job.participant.phone}}</div>
            <div>{{job.participant.email}}</div>
        </div>
    </div>
    <!-- Overview  -->
    {% if "skills" in form.sections.value %}
    <div class="row my-4">
        <div class="col-4">
            <div style="width:20px; border-top:3px solid black;" class="mb-3"></div>
            <h6  class="fw-bolder">Skils</h6>
        </div>
        <div class="col-8">
            <div style="width:100%; border-top:3px solid black;" class="mb-3"></div>
            {% for skill in skills %}
            <div>{{skill}}</div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <!-- Bullets  -->
    <div  class="row my-4">
        <div class="col-4">
            <div style="width:20px; border-top:3px solid black;" class="mb-3"></div>
            <h6 class="fw-bolder">
                {% if bullets_content == "skills" %}
                    Skills
                {% elif bullets_content == "chronological" %}
                    Experience
                {% endif %}
            </h6>
        </div>
        <div class="col-8">
            <div style="width:100%; border-top:3px solid black;" class="mb-3"></div>
            {% if bullets_content == "skills" %}
            {% for skill in skills_with_bullets %}
                <h6 class="fw-bolder">{{skill.obj}}</h6>
                <ul>
                    {% for weighted_bullet in skill.bullets %}
                        {% include 'resume/partials/weighted_bullet.html' %}
                    {% endfor %}
                </ul>
            {% endfor %}
            {% elif bullets_content == "chronological" %}
                {% for experience in chronological_experiences %}
                    <h6> <span class="fw-bolder">{{experience.obj.position}}</span> / {{experience.obj.org}}</h6>
                    <p class="text-muted">{{ experience.obj.start_date|date }} - {{experience.obj.end_date | date|default:"Present"}}</p>
                    <ul>
                        {% for weighted_bullet in experience.bullets %}
                            {% include 'resume/partials/weighted_bullet.html' %}
                        {% endfor %}
                    </ul>
                {% endfor %}
            {% endif %}
            
        </div>
    </div>

    <!-- Education  -->
    {% if "education" in form.sections.value and education %}
    <div  class="row my-4">
        <div class="col-4">
            <div style="width:20px; border-top:3px solid black;" class="mb-3"></div>
            <h6  class="fw-bolder">Education</h6>
        </div>
        <div class="col-8">
            <div style="width:100%; border-top:3px solid black;" class="mb-3"></div>
        {% for edu in education %}
            <h6 ><span class="fw-bolder">{{ edu.org }}</span> / {{ edu.degree.abbr }} in {{ edu.concentration }}</h6>
        {% endfor %}
        </div>
    </div>
    {% endif %}

    <!-- Awards  -->
    {% if "certifications" in form.sections.value and certifications %}
    <div  class="row my-4">
        <div class="col-4">
            <div style="width:20px; border-top:3px solid black;" class="mb-3"></div>
            <h6 class="fw-bolder">Awards</h6>
        </div>
        <div class="col-8">
            <div style="width:100%; border-top:3px solid black;" class="mb-3"></div>
            {% for cert in certifications %}
            <div>{{cert}}</div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    

</div>

{% endblock content %}



