{% extends 'resume/base_resume.html' %}

{% block content %}

<div class="container-fluid">
    <!-- Name  -->
    <div  class="row mb-4">
        <div class="col-4">
            <h3 class="fw-bold">{{job.participant.name}}</h3>
            <p>{{job.participant.experience_set.first.position  }}</p>
        </div>
        <div class="col-8">
            <div style="width:100%; border-top:3px solid black;" class="mb-3"></div>
            <h5 class="fw-bolder">{{job.participant.name}}</h5>
            <div>{{job.participant.phone}}</div>
            <div>{{job.participant.email}}</div>
                
                
                
                
                
            
        </div>
    </div>
    <!-- Overview  -->
    {% if "overview" in form.sections.value %}
    <div class="row my-4">
        <div class="col-4">
            <div style="width:20px; border-top:3px solid black;" class="mb-3"></div>
            <h5>Profile</h5>
        </div>
        <div class="col-8">
            <div style="width:100%; border-top:3px solid black;" class="mb-3"></div>
            {{overview.text}}
        </div>
    </div>
    {% endif %}

    <!-- Bullets  -->
    {% if "bullets" in form.sections.value %}
    <div  class="row my-4">
        <div class="col-4">
            <div style="width:20px; border-top:3px solid black;" class="mb-3"></div>
            Experience
        </div>
        <div class="col-8">
            <div style="width:100%; border-top:3px solid black;" class="mb-3"></div>
            {% for experience in chronological_experiences %}
                <h5> <span class="fw-bolder">{{experience.obj.position}}</span> / {{experience.obj.org}}</h5>
                <p class="text-muted">{{ experience.obj.start_date|date }} - {{experience.obj.end_date | date|default:"Present"}}</p>
                <ul>
                    {% for weighted_bullet in experience.bullets %}
                    <li>{{weighted_bullet.bullet.text}}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <!-- Education  -->
    {% if "education" in form.sections.value %}
    <div  class="row my-4">
        <div class="col-4">
            <div style="width:20px; border-top:3px solid black;" class="mb-3"></div>
            <h5>Education</h5>
        </div>
        <div class="col-8">
            <div style="width:100%; border-top:3px solid black;" class="mb-3"></div>
        {% for edu in education %}
            <h5><span class="fw-bolder">{{ edu.org }}</span> / {{ edu.degree.abbr }} in {{ edu.concentration }}</h5>
        {% endfor %}
        </div>
    </div>
    {% endif %}

    <!-- Awards  -->
    {% if "awards" in form.sections.value %}
    <div  class="row my-4">
        <div class="col-4">
            <div style="width:20px; border-top:3px solid black;" class="mb-3"></div>
            <h5>Awards</h5>
        </div>
        <div class="col-8">
            <div style="width:100%; border-top:3px solid black;" class="mb-3"></div>

        </div>
    </div>
    {% endif %}
    

</div>

{% endblock content %}



