{% extends 'staff.html' %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}

{% block title %}
    <h1>Feedback for {{ app.name }}</h1>
    <p>This is intended for site developers and administrators to interact with user-submitted feedback. Although not a
    fully-baked ticketing system, it should serve as a simple, asynchronous feedback loop for anyone involvbed in the
    project.
    </p>
    <p class="text-muted">Data retrieved on {{ now|date }} at {{ now|time }} {{ TIME_ZONE }}</p>
{% endblock %}

{% block content %}
    <h2 class="sub-header">Comments</h2>
    <h4>Unread</h4>
    <table class="table table-striped">
            <thead>
            <tr>
                <th>Short Description</th>
                <th>Submitted by</th>
                <th>Created</th>
                <th>Status</th>
                <th>Last Updated</th>
                <th>Update</th>
            </tr>
            </thead>
     <tbody>

        {% for comment in feedback %}
            {% if comment.status == 'Unread' %}
                <tr>
                        <td>{{ comment.short_description }}</td>
                        <td>{{ comment.user.first_name }} {{ comment.user.last_name }}</td>
                        <td>{{ comment.created|date }}</td>
                        <td>{{ comment.status }}</td>
                        <td>{{ comment.updated|date }}</td>
                        <td><a href="{% url 'releases:feedback_update' app.id comment.id %}" target="_blank">Update</a> </td>
            </tr>
            {% endif %}
         {% endfor %}

            </tbody>

        </table>

    <h4>Read</h4>
    <p>Need to be moved into either the backlog or the roadmap, or be resolved.</p>
   <table class="table table-striped">
            <thead>
            <tr>
                <th>Short Description</th>
                <th>Submitted by</th>
                <th>Created</th>
                <th>Status</th>
                <th>Last Updated</th>
                <th>Update</th>
            </tr>
            </thead>
     <tbody>

        {% for comment in feedback %}
            {% if comment.status == 'Read' %}
                <tr>
                        <td>{{ comment.short_description }}</td>
                        <td>{{ comment.user.first_name }} {{ comment.user.last_name }}</td>
                        <td>{{ comment.created|date }}</td>
                        <td>{{ comment.status }}</td>
                        <td>{{ comment.updated|date }}</td>
                        <td><a href="{% url 'releases:feedback_update' app.id comment.id %}" target="_blank">Update</a> </td>
            </tr>
            {% endif %}
         {% endfor %}

            </tbody>

        </table>

    <h4>Added to Backlog</h4>
    <p>Marked as "todo", but not assigned to a sprint</p>
    <table class="table table-striped">
            <thead>
            <tr>
                <th>Short Description</th>
                <th>Submitted by</th>
                <th>Created</th>
                <th>Status</th>
                <th>Last Updated</th>
                <th>Update</th>
            </tr>
            </thead>
     <tbody>

        {% for comment in feedback %}
            {% if comment.status == 'Added to Backlog' %}
                <tr>
                        <td>{{ comment.short_description }}</td>
                        <td>{{ comment.user.first_name }} {{ comment.user.last_name }}</td>
                        <td>{{ comment.created|date }}</td>
                        <td>{{ comment.status }}</td>
                        <td>{{ comment.updated|date }}</td>
                        <td><a href="{% url 'releases:feedback_update' app.id comment.id %}" target="_blank">Update</a> </td>
            </tr>
            {% endif %}
         {% endfor %}

            </tbody>

        </table>

    <h4>Added to Roadmap</h4>
    <p>Assigned to a develepmont sprint or patch release</p>
    <table class="table table-striped">
            <thead>
            <tr>
                <th>Short Description</th>
                <th>Submitted by</th>
                <th>Created</th>
                <th>Status</th>
                <th>Last Updated</th>
                <th>Update</th>
            </tr>
            </thead>
     <tbody>

        {% for comment in feedback %}
            {% if comment.status == 'Added to Roadmap' %}
                <tr>
                        <td>{{ comment.short_description }}</td>
                        <td>{{ comment.user.first_name }} {{ comment.user.last_name }}</td>
                        <td>{{ comment.created|date }}</td>
                        <td>{{ comment.status }}</td>
                        <td>{{ comment.updated|date }}</td>
                        <td><a href="{% url 'releases:feedback_update' app.id comment.id %}" target="_blank">Update</a> </td>
            </tr>
            {% endif %}
         {% endfor %}

            </tbody>

        </table>

    <h4>Resolved</h4>
    <p>All closed issues. May have been built or rejected; see notes of each comment for details.</p>
    <table class="table table-striped">
            <thead>
            <tr>
                <th>Short Description</th>
                <th>Submitted by</th>
                <th>Created</th>
                <th>Status</th>
                <th>Last Updated</th>
                <th>Update</th>
            </tr>
            </thead>
     <tbody>

        {% for comment in feedback %}
            {% if comment.status == 'Resolved' %}
                <tr>
                        <td>{{ comment.short_description }}</td>
                        <td>{{ comment.user.first_name }} {{ comment.user.last_name }}</td>
                        <td>{{ comment.created|date }}</td>
                        <td>{{ comment.status }}</td>
                        <td>{{ comment.updated|date }}</td>
                        <td><a href="{% url 'releases:feedback_update' app.id comment.id %}" target="_blank">Update</a> </td>
            </tr>
            {% endif %}
         {% endfor %}

            </tbody>

        </table>

    <a class="btn btn-primary" href="{% url 'releases:index' app.id %}">Back to Release Notes</a>

{% endblock %}