{% extends 'staff.html' %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}

{% block title %}
    <h1>Release Notes for {{ app.name }}</h1>
    <p>List of releases with details for each</p>
    <p class="text-muted">Data retrieved on {{ now|date }} at {{ now|time }} {{ TIME_ZONE }}</p>
    <a class="btn btn-primary" href="{% url 'releases:feedback_dashboard' app.id %}">See Feedback</a>
    {% if user.is_superuser %}
        <a class="btn btn-primary" href="{% url 'releases:feedback_list' app.id %}">Feedback Admin Dashboard</a>
        <p>{{ totals.total }} total: {{ totals.unread }} unread</p>
    {% endif %}
{% endblock %}

{% block content %}
    <h2 class="sub-header">Releases</h2>
    {% for release in releases %}
        <h4 class="sub-header">{{ release.major }}.{{ release.minor }}.{{ release.patch }} {{ release.title }}</h4>
        <p class="text-muted">Created on {{ release.date|date }} at {{ release.date|time }} by {{ release.author.first_name }} {{ release.author.last_name }}</p>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Changes</th>
            </tr>
            </thead>
            <tbody>
            {% if release.note_set %}
                {% for note in release.note_set.all %}
                    <tr>
                        <td>{{ note.text }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>No changes logged.</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    {% endfor %}
    <a class="btn btn-primary" href="{% url 'staff' %}">Back to Staff Home</a>

{% endblock %}