{% extends 'staff.html' %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}

{% block title %}
    <h1>Releases</h1>
    <p>List of releases with details for each</p>
    <p class="text-muted">Data retrieved on {{ now|date }} at {{ now|time }} {{ TIME_ZONE }}</p>
{% endblock %}

{% block content %}
    <h2 class="sub-header">Releases</h2>
    {% for release in releases %}
        <h4 class="sub-header">{{ release.major }}.{{ release.minor }}.{{ release.patch }} {{ release.title }}</h4>
        <p class="text-muted">Created on {{ release.date|date }} at {{ release.date|time }} by {{ release.author }}</p>
        {% if user.is_superuser %}
            <a class="btn btn-primary" href="{% url 'releases:note_create' release.id %}" target="_blank">Add Note</a>
        {% endif %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Changes</th>
            </tr>
            </thead>
            <tbody>
            {% if release.note_set %}
                {% for note in release.note_set.all %}
                    <tr>
                        <td>{{ note.text }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>No changes logged.</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    {% endfor %}
    {% if user.is_superuser %}
        <a class="btn btn-primary" href="{% url 'releases:release_create' %}" target="_blank">Create New Release</a>
        <a class="btn btn-primary" href="{% url 'releases:app_create' %}">Create New App</a>
    {% endif %}
    <a class="btn btn-primary" href="{% url 'staff' %}">Back</a>

{% endblock %}