{% extends 'base.html' %}
{% load form_helpers %}
{% block body %}
{% load components %}
{% include 'modal.html' %}

<div class="w-full sticky top-0 shadow-sm z-20 border-b border-gray-200 divide-y bg-white">
    <div>
        <div class=" container mx-auto p-2 flex justify-between  items-center">
            <div>
                <a class="navbar-brand" href="{% url 'staff' %}">
                Home
            </a>
            </div>
            <div>
                <div x-data="{ isActive: false }" class="relative">
                    <div
                    class="inline-flex items-center overflow-hidden rounded-md bg-white"
                    >
                
                    <button
                        x-on:click="isActive = !isActive"
                        class="h-full flex items-center space-x-2 text-sm p-2 text-gray-600 hover:bg-gray-50 hover:text-gray-700"
                    >
                        Menu
                        <span class="sr-only">Menu</span>
                        <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-4 w-4"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        >
                        <path
                            fill-rule="evenodd"
                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                            clip-rule="evenodd"
                        />
                        </svg>
                    </button>
                    </div>
                
                    <div
                            class="absolute end-0 z-10 mt-2 w-56 divide-y divide-gray-100 rounded-md border border-gray-100 bg-white shadow-lg"
                            role="menu"
                            x-cloak
                            x-transition
                            x-show="isActive"
                            x-on:click.away="isActive = false"
                            x-on:keydown.escape.window="isActive = false"
                    >
                    <div class="p-2">
                            {% if user.is_authenticated %}
                                <strong class="block p-2 text-xs font-medium uppercase text-gray-400">
                                    Toolbox
                                </strong>
                                    {% if perms.cold_apply %}
                                        {% if user.is_staff %}
                                            <a class="block rounded-lg px-4 py-2 text-sm text-gray-500 hover:bg-gray-50 hover:text-gray-700" href="{% url 'cold_apply:index' %}">Cold Apply</a>
                                        {% else %}
                                            <a class="block rounded-lg px-4 py-2 text-sm text-gray-500 hover:bg-gray-50 hover:text-gray-700" href="{% url 'cold_apply:home' %}">Cold Apply</a>
                                        {% endif %}
                                    {% endif %}
                                    {% if perms.rates %}
                                        <a class="block rounded-lg px-4 py-2 text-sm text-gray-500 hover:bg-gray-50 hover:text-gray-700" href="{% url 'rates:index' %}">World Rates</a>
                                    {% endif %}
                                    <a class="block rounded-lg px-4 py-2 text-sm text-gray-500 hover:bg-gray-50 hover:text-gray-700" href="{% url 'home' %}">View Public Site</a>
                                    {% if user.is_staff %}
                                        <a class="block rounded-lg px-4 py-2 text-sm text-gray-500 hover:bg-gray-50 hover:text-gray-700" href="{% url 'admin:index' %}">Admin Panel</a>
                                    {% endif %}
                                    <strong class="block p-2 text-xs font-medium uppercase text-gray-400">
                                    Settings
                                </strong>
                                    <a class="block rounded-lg px-4 py-2 text-sm text-gray-500 hover:bg-gray-50 hover:text-gray-700" href="{% url 'account_logout' %}">Logout</a>
                                    <a class="block rounded-lg px-4 py-2 text-sm text-gray-500 hover:bg-gray-50 hover:text-gray-700" href="{% url 'userprofile:profile_view' %}">View Profile</a>
                                    <a class="block rounded-lg px-4 py-2 text-sm text-gray-500 hover:bg-gray-50 hover:text-gray-700"  href="{% url 'account_change_password' %}">Change Password</a>
                                    <a class="block rounded-lg px-4 py-2 text-sm text-gray-500 hover:bg-gray-50 hover:text-gray-700"  href="{% url 'account_email' %}">Change Email</a>
                            {% else %}
                                <a   class="block rounded-lg px-4 py-2 text-sm text-gray-500 hover:bg-gray-50 hover:text-gray-700" href="{% url 'account_login' %}">Login</a>
                            {% endif %}
                    </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    {% wrapper breadcrumbs %}
    <div>
        <nav class="flex container mx-auto p-2 text-sm" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-3 overflow-x-auto">
                {% block breadcrumbs %}
                {% endblock breadcrumbs %}
            </ol>
        </nav>
    </div>
    {% endwrapper %}
</div>
<div class="flex">
    <div class="container mx-auto px-2 pt-6 pb-20">
        {% block content %}
        {% endblock content %}
        {% wrapper_if_block_has_content navigation %}
        <hr class="my-5">
        <div class="row">
            <h3>Admin Actions</h3>
            <div class="col">
                {% block navigation %}
                {% endblock navigation %}
            </div>
            
            
        </div>
        {% endwrapper %}
    </div>
</div>

{% endblock body %}
