<!DOCTYPE html>
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% load vite_assets %}
{% get_media_prefix as MEDIA_PREFIX %}

<html lang="en" dir="ltr" class="h-full">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Hired Labs{% endblock title %}</title>
        {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
        crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"> {% endcomment %}
        <link rel="stylesheet" type="text/css"  href="{% static 'resume/styles/style.css' %}"/>
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'main/images/HiredLabs-Icon-trasnaprent.png' %}">
        {% comment %} {% load_vite_css 'src/main.css' %} {% endcomment %}
        {% load_vite_js 'src/main.js' %}
        {% block head %}
        {% endblock %}
   
    </head>

    <body hx-headers='{"X-CSRFToken": "{{csrf_token}}"}' class="h-full" >
        
        {% block body %}
        {% endblock body %}
        
        {% block scripts %}
        {% endblock scripts %}
        {% include 'components/toaster.html' %}
    </body>

</html>