{% extends 'base.html' %}
{% load form_helpers %}
{% block body %}




<div class="d-flex flex-column h-100">
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'staff' %}">
            Staff Area
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navbar"
                aria-expanded="false" aria-controls="navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="toolbox-dropdown" data-bs-toggle="dropdown" href="#"
                        role="button" aria-haspopup="true" aria-expanded="false">Toolbox
                        </a>
                        <ul class="dropdown-menu">
                            {% if perms.cold_apply %}
                                <li><a class="dropdown-item" href="{% url 'cold_apply:index' %}">Cold Apply</a></li>
                            {% endif %}
                            {% if perms.rates %}
                                <li><a class="dropdown-item" href="{% url 'rates:index' %}">World Rates</a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="{% url 'home' %}">View Public Site</a></li>
                            {% if user.is_staff %}
                                <li><a class="dropdown-item" href="{% url 'admin:index' %}">Admin Panel</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="toolbox-dropdown" data-bs-toggle="dropdown" href="#"
                        role="button" aria-haspopup="true" aria-expanded="false">Settings
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'userprofile:logout' %}">Logout</a></li>
                            {#                <li><a href="{% url 'userprofile:profile_view' %}">View Profile</a></li>#}
                            {#                  <li><a href="{% url 'userprofile:password_change' %}">Change Password</a></li>#}
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{% url 'userprofile:login' %}">Login</a></li>
                {% endif %}
            </ul>
            <form class="navbar-form navbar-right">
                {#            <input type="text" class="form-control" placeholder="Search...">#}
            </form>
        </div>
    </div>
</nav>
{% endblock navbar %}

<div class="container py-3 flex-grow-1">
    {% wrapper_if_block_has_content breadcrumbs %}
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                {% block breadcrumbs %}
                {% endblock breadcrumbs %}
            </ol>
        </nav>
        <hr>
    {% endwrapper %}
    {% block content %}
    {% endblock content %}

    {% wrapper_if_block_has_content navigation %}
    <hr>
    <div class="row">
        <h3>Navigation</h3>
        <div class="col">
            {% block navigation %}
            {% endblock navigation %}
        </div>
        
        
    </div>
    {% endwrapper %}
    {% block resume_checkout_navigation %}
        {% if request.GET.checkout is not None %}
            <div>
            
                <a href="{{request.GET.checkout}}?{{request.GET|urlencode_dict}}" class="btn btn-primary">Back to Resume Configuration</a>
            </div>
        {% endif %}
    {% endblock resume_checkout_navigation %}
    

</div>
    {% include 'modal.html' %}
{% block footer %}
<footer class="w-100 bg-secondary-subtle">
    <div class="container">
        {% if user.is_authenticated %}
            <p class="text-muted">Logged in as
                {% if user.is_superuser %}
                    superuser
                {% endif %}
                {{ user.first_name }} {{ user.last_name }}</p>
            <p class="text-muted mb-0 pb-3"><a href="{% url 'releases:submit_feedback' %}" target="_blank">Got Feedback?</a>
            </p>
        {% endif %}

    </div>
</footer>
{% endblock footer %}
</div>
{% endblock body %}

{% block javascript %}
<script>
    if (window.location.hash) {
        const targetElement = document.querySelector(window.location.hash);
        if (targetElement) {
          window.addEventListener('load', function () {
            targetElement.scrollIntoView({ behavior: 'smooth' });
          });
        }
      }
</script>
{% endblock javascript %}


