
{% if href %}
<li class="inline-flex items-center md:space-x-4 space-x-2">
  <a href="{{href}}" class="inline-flex whitespace-nowrap items-center text-sm font-medium text-gray-700 hover:text-blue-600">
    {{text}}
  </a>
  <svg  class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
  
</li>

{% else %}
<li>
  <div class="flex items-center">
    
    <span class="text-sm font-medium text-gray-500">{{text}}</span>
  </div>
</li>

{% endif %}