{% extends 'new_home_base.html' %}
{% load form_helpers %}
{% load components %}
{% include 'modal.html' %}

    {% wrapper breadcrumbs %}
    <div>
        <nav class="flex container mx-auto p-2 text-sm" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-3 overflow-x-auto">
                {% block breadcrumbs %}
                {% endblock breadcrumbs %}
            </ol>
        </nav>
    </div>
    {% endwrapper %}

    {% block body %}
        <br>
        <br>


        <div class="md:container grid grid-cols-1 gap-4 justify-items-center md:mx-auto px-4 max-w-3xl">
            <h1>Who We Serve</h1>
        <p>At Hired Labs, we're on a mission to end Veteran underemployment, particularly among enlisted Veterans.
            All of our services are designed to help United States Military Veterans who completed active duty with a rank between E-1 and E-9, and whose service was characterized as anything other than dishonorable.</p>
            <br>
            <p>Veterans who completed active duty as Commissioned Officers and Warrant Officers are welcome to apply, but will be added to our waitlist and only enrolled in services as space becomes available.
                We do not provide services to non-Veterans, or Veterans of countries other than the United States of America.</p>
        <p></p>
            <br>
            <H1>Hi-touch Employment Services</H1>

            <p>We provide a high-touch, personalized service to help you land your next job and level up your career. We'll help you with resume updates, job search, and application tracking. We'll provide you with a list of open jobs, for which you are a strong candidate, and help you apply to them. We'll also provide a simple spreadsheet to track applications and their outcome. The goal is to get called back for an initial interview. We'll continue to provide updated lists of open jobs, and keyword optimized versions of your resume.</p>
            <h2>Initial 6-Week Program</h2>
                <ol>
                     <li class="py-4">
                       <h4>1. Intake Call</h4>
                       <p>Meet with us for a quick call to discuss your background, experience, and what you're looking for in your next role.</p>
                   </li>
                   <li class="py-4">
                       <h4>2. Resume Updates & Job Search</h4>
                       <p>
                          Within the 6-week program, our team of specialists updates your resume and conducts a preliminary search for best-fit open roles based on the intake interview. You’ll receive a professionally updated resume and a tailored list of open jobs.
                       </p>
                   </li>
                   <li class="py-4">
                       <h4>3. Application</h4>
                       <p>
                           Using the updated resume and list of job posts provided, you apply to the jobs.
                       </p>
                   </li>
                   <li class="py-4">
                       <h4>4. Record Results</h4>
                       <p>
                           We provide a simple spreadsheet to track applications and their outcomes. The goal is to get called back for an initial interview.
                       </p>
                       <p>
                            We ask that you share jobs you find and apply to outside of our recommendations, ensuring engagement and allowing us to calibrate our support.

                       </p>
                   </li>
                    <li class="py-4">
                       <h4>5. Rinse & Repeat</h4>
                       <p>
                           Based on your feedback on the initial resume revision and job recommendations, we provide updated lists of open jobs and keyword-optimized versions of your resume for any jobs you really like.
                       </p>
                   </li>

               </ol>
        <br>
                        <h3>Optional Additional 6-Week Extension</h3>
                        <p>For those who are actively engaged and would like additional support, we offer an additional 6-week extension. During this period, services will be provided bi-weekly to review your progress, ensure engagement, and continue supporting your search!</p>
        </div>
        <br>
        <div class="mb-3 p-6 bg-white min-w-full flex flex-col items-center">
        <a href="{% url 'custom_account_signup' %}" class="bg-hl-black hover:bg-gray-500 focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-lg inline-flex items-center justify-center px-4 py-2.5 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700">
                            <div class="text-left">
                                <div class="-mt-1 font-sans text-sm font-semibold">Sign Up</div>
                            </div>
                    </a>
        </div>
        <br>
        <div class="md:container grid grid-cols-1 gap-4 justify-items-center md:mx-auto px-4 max-w-3xl">
               <H2>Coding Boot Camp</H2>
            <p><b>Go from zero</b> to creating functional web applications using Python in 6 weeks. We'll show you the basics,
                then guide you through building a full-stack web application. We'll use free online resources that can be accessed
                from any browser, so you don't need your own computer. You'll learn how to use Python, JavaScript,
                HTML, CSS, and frameworks like Django and React to build anything you can imagine.
            </p>
            <p>
                At the end, you'll have your own website with a functioning backend web application, and the knowledge
                to customize all of it and build further. Along the way we'll show you how to use Git, text-generating AI,
                and other tools.
            </p>
                <ol>
                     <li class="py-4">
                       <h2 class="text-2xl font-bold">No Experience Required</h2>
                       <p>If you can read and write emails, you can code. Even if you've never written (or read) any code,
                       our bootcamp is for you. We'll show you the concepts behind coding, and point you toward resources
                       to learn more, while building practical experience. </p>
                         <br>
                         <p>This course is intended for Veterans who have very little or <b>no experience</b> coding.
                         If you've never coded, but thought about joining coding boot camp before - this course is for you.
                             If you're just starting to learn how to code, and are unsure what to learn next -
                             this course might be for you.
                         </p>
                        <br>
                             <p>If you're already experienced and want to get to the next
                             level - this course may not be for you, but we'd love to meet you, and help point you in the right direction!</p>
                   </li>
                   <li class="py-4">
                       <h2 class="text-2xl font-bold">No Math Required</h2>
                       <p>
                            You don't need to be a math whiz to code. We'll show you how to use code to solve problems, and
                            how to use code to make functional things. Math is definitely useful, but not required to learn
                           how to write functional code, and our bootcamp is focused on practical skills.

                       </p>
                   </li>
                   <li class="py-4">
                       <h2 class="text-2xl font-bold">No Laptop Required</h2>
                       <p>
                           If you have a computer, great! If not, we'll show you how to use free online resources that
                           can be accessed from any browser, so you don't need your own computer - a library or internet
                           cafe will do. We'll build our web application directly in the browser, so you'll be able to
                           save your work and access it from anywhere. Mobile phones might be a struggle, because
                           typing on a small device and reading on a small screen is uncomfortable, but it's possible.
                       </p>
                   </li>
                   <li class="py-4">
                       <h2 class="text-2xl font-bold">Commitment Required</h2>
                       <p>
                           We'll meet twice a week, on Tuesdays and Thursdays from 6:00 pm to 7:30 pm Pacific for 6 weeks. Commiting to
                       at least that much time is the first step, but you'll need to make coding a daily habit to really learn.
                   </li>
                    <li class="py-4">
                       <h2 class="text-2xl font-bold">Next Session: November 12th - December 19th, 2024</h2>
                       <p>
                       </p>
                   </li>
               </ol>
        <br>
        <div class="mb-3 p-6 bg-white min-w-full flex flex-col items-center">
        <a href="{% url 'custom_account_signup' %}" class="bg-hl-black hover:bg-gray-500 focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-lg inline-flex items-center justify-center px-4 py-2.5 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700">
                            <div class="text-left">
                                <div class="-mt-1 font-sans text-sm font-semibold">Sign Up</div>
                            </div>
                    </a>
        </div>
        <br>
        </div>
    {% endblock body %}

