{% extends 'new_home_base.html' %}
{% load form_helpers %}
{% load components %}
{% load static %}
{% include 'modal.html' %}

    {% wrapper breadcrumbs %}
    <div>
        <nav class="flex container mx-auto p-2 text-sm" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-3 overflow-x-auto">
                {% block breadcrumbs %}
                {% endblock breadcrumbs %}
            </ol>
        </nav>
    </div>
    {% endwrapper %}
{% block body %}
    <div class="md:container justify-items-center md:mx-auto px-20 max-w-2xl">
{#<div style="position: relative; width: 100%; height: 0; padding-top: 250.0000%;#}
{# padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;#}
{# border-radius: 8px; will-change: transform;">#}
        <img
    src="{% static 'main/images/impact-2024.jpg' %}"
    alt="Impact Report"
    class="max-w-full max-h-full object-contain"
  >
{#<a href="{% static 'main/docs/impact-2024.pdf' %}" target="_blank">Download PDF</a>#}

{#  <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"#}
{#    src="{% static '/images/impact-2024.pdf' %}" allowfullscreen="allowfullscreen" allow="fullscreen">#}
{#  </iframe>#}
</div>
{#        </div>#}
{% endblock body %}
