<!DOCTYPE html>
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% load vite_assets %}
{% load tailwind %}
{% get_media_prefix as MEDIA_PREFIX %}

<html lang="en" dir="ltr" class="h-full">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Hired Labs</title>
        <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.1/dist/flowbite.min.css" />

        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'main/images/HiredLabs-Icon-transparent.png' %}">

        {% load_vite_js 'src/main.js' %}
        {% block head %}
        {% endblock %}

    </head>

    <body hx-headers='{"X-CSRFToken": "{{csrf_token}}"}' class="h-full bg-gradient-to-r from-blue-200 to-blue-400 >
    <div class="flex flex-col h-screen justify-between ">
        <nav class="bg-blue-900 border-gray-200 dark:bg-gray-900">
            <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
                <a href="{% url 'home' %}" class="flex items-center">
                <img src="{% static 'main/images/HiredLabs1.png'%}" class="h-8 mr-3" alt="Hired Labs Logo" />
                </a>
                {% comment %}
                JavaScript equired to make the navbar open and collapse on small screens on the home page.
                Without this script, the 'hamburger' menu won't open on the home page, but works everywhere else.
                This definition must come before the button that calls it.
                {% endcomment %}
                <script>
                    const toggle = () => menu.classList.toggle("hidden");
                </script>
                <button onclick="toggle()" data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                    </svg>
                </button>
                <div class="hidden w-full md:block md:w-auto" id="navbar-default">
                     <ul class="font-medium flex flex-col p-4 md:p-0 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-blue-900">
                         <li>
                            <a href="{% url 'about' %}" class="block py-2 pl-3 pr-4 text-center bg-blue-800 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500" aria-current="page">About Us</a>
                         </li>
                         <li>
                            <a href="{% url 'how_it_works' %}" class="block py-2 pl-3 pr-4 text-center bg-blue-800 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500" aria-current="page">Services</a>
                         </li>
                         <li>
                             <a href="{% url 'impact' %}" class="block py-2 pl-3 pr-4 text-center bg-blue-800 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500" aria-current="page">Impact</a>
                         </li>
                         <li>
                             <a href="https://www.paypal.com/donate/?hosted_button_id=FSCDFRT2GALF4" class="block py-2 pl-3 pr-4 text-center bg-blue-800 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500" aria-current="page" target="_blank">Donate</a>
                         </li>

                         <li>
                             <a href="{% url 'custom_account_signup' %}" class="block py-2 pl-3 pr-4 text-center bg-blue-800 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500" aria-current="page">Sign Up</a>
                         </li>
                     </ul>
                </div>
            </div>
        </nav>
        {% comment %}
        JavaScript required to make the navbar open and collapse on small screens on the home page.
        Without this script, the 'hamburger' menu won't open on the home page, but works everywhere else.
        This definition must come after the div has been rendered, or else it cannot be found when the script above
          references it.d
        {% endcomment %}
        <script>
                const menu = document.getElementById('navbar-default');
                console.log(menu.classList.keys());
        </script>

        {% block body %}


        {% endblock body %}

        <footer class="bg-blue-900 dark:bg-gray-900 bottom-0">
            <div class="bg-blue-900 w-full max-w-screen-xl mx-auto p-4 md:py-8 bottom-0">
                <div class="sm:flex sm:items-center sm:justify-between bottom-0">
                    <a href="{% url 'home' %}" class="flex items-center">
                        <img src="{% static 'main/images/HiredLabs1.png'%}" class="h-8 mr-3" alt="Hired Labs Logo" />
                    </a>

                    <ul class="font-medium flex flex-col md:p-0 mt-4 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-blue-900">
                        <li>
                    <a href="{% url 'about' %}" class="mr-4 hover:underline md:mr-6 ">About</a>
                </li>
                        <li>
                    <a href="{% url 'privacy_policy' %}" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
                </li>
                        <li>
                    <a href="{% url 'terms_of_service' %}" class="mr-4 hover:underline md:mr-6 ">Terms of Service</a>
                </li>
{#                        <li>#}
{#                    <a href="{% url 'contact' %}" class="mr-4 hover:underline md:mr-6 ">Contact</a>#}
{#                </li>#}
                    </ul>
                </div>
                <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
                <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">
                    © 2025
                    <a href="{% url 'home' %}" class="hover:underline">Hired Labs, Inc.™</a>
                    is a nonprofit 501(c)(3) organization. EIN: 92-0765713.
                </span>
                <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">
                        All rights reserved. info@hiredlabs.org
                    </span>
            </div>
        </footer>

        {% block scripts %}

            <script src="https://unpkg.com/flowbite@1.5.1/dist/flowbite.js"></script>
        {% endblock scripts %}
        {% include 'components/toaster.html' %}
    </div>
    </body>


</html>
