
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% get_media_prefix as MEDIA_PREFIX %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hired Labs</title>
</head>
<!-- Google tag (gtag.js) -->
{#<script async src="https://www.googletagmanager.com/gtag/js?id=G-4KYKKL0C1Y"></script>#}
{#<script>#}
{#  window.dataLayer = window.dataLayer || [];#}
{#  function gtag(){dataLayer.push(arguments);}#}
{#  gtag('js', new Date());#}
{##}
{#  gtag('config', 'G-4KYKKL0C1Y');#}
{#</script>#}

<body>
<div>
    <h1>Privacy Policy</h1>
    <h2>1. Introduction</h2>
    <p>This Privacy Policy ("Policy") outlines how Hired Labs, Inc. ("we," "us," "our", "Company") collects, uses, discloses, and safeguards personal and non-personal information from individuals who interact with our services, websites, applications, and products.</p>
    <h2>2. Information We Collect</h2>
    <h3>2.1 Personal Information</h3>
        <p> We may collect personal information, including but not limited to:
            <ul>
                <li>Contact information (name, email, phone number)</li>
                <li>Billing and payment details</li>
                <li>Location data</li>
    <li>Usernames and passwords</li>
    <li>Birthdate</li>
    <li>Any information voluntarily provided by users</li>
            </ul>
        </p>
    <h3>2.2 Non-Personal Information</h3>
    <p>We may collect non-personal information, such as:
        <ul>
            <li>Device information (type, operating system, browser)</li>
            <li>Usage data (pages visited, time spent, actions taken)</li>
            <li>Aggregated and anonymized data</li>
        </ul>
    </p>
    <h2>3. Data Usage</h2>
    <p>We do not sell user data or personal information for any reason. We use collected information for various purposes, including:
        <ul>
            <li>Providing and improving our services/products</li>
            <li>Personalizing user experience</li>
            <li>Communicating with users</li>
            <li>Processing transactions, include payment transactions </li>
            <li>Analyzing usage patterns</li>
            <li>Legal and regulatory compliance</li>
        </ul>
    </p>
    <h2>4. Data Sharing & Disclosure</h2>
    <h3>4.1 Third-Party Service Providers</h3>
    <p>We may share information with third-party service providers to assist in business operations, such as payment processing, data storage, and customer support.</p>
    <p>Third-party service providers are bound by the terms in this policy, and are prohibited from using or disclosing any user information for any reason without active consent from the user.</p>
    <h3>4.2 Legal and Safety</h3>
    <p>We may disclose information to comply with legal obligations, enforce our terms of service, protect our rights, or respond to lawful requests.</p>
    <h2>5. Data Security, Storage & Transfer</h2>
    <h3>5.1 Security</h3>
    <p>We implement reasonable security measures to protect collected information from unauthorized access, alteration, disclosure, or destruction. However, no method of transmission over the internet is entirely secure, and we cannot guarantee absolute security.</p>
    <p>In the unlikely event of a data breach, we will notify affected parties and provide instructions for further actions, if any.</p>
    <h3>5.2 Storage</h3>
    <p>User data may be stored on premise, in the cloud, or both. We will retain data for dormant accounts for a period of 12 months. Accounts that are inactive for 12 consecutive months will be deleted, along with all associated data, in accordance with data deletion procedures outlined in this policy (see sect. 6 Your Choices).</p>
    <h3>5.3 Transfer</h3>
    <p>If the Company changes ownership or closes down, user data will be transferred to the new owners, if any. The new company's policies should align with this Policy. Users will be notified of such a change, and will have the option to download their data, and delete their account and/or data.</p>
    <h2>6. Your Choices</h2>
    <p>You have the right to:
        <ul>
            <li>Access and update your personal information</li>
            <li>Opt out of marketing communications</li>
            <li>Delete your account and all VA and non-VA data (subject to legal requirements)</li>
        </ul>
    </p>
    <p>Requests to delete accounts and/or data should be sent to info@hiredlabs.org. We will respond to requests within 30 days.</p>
    <p>Except when prohibited by law, we will permanently delete up to 100% of users' data upon request.</p>
    <p>Opting out of certain data processing and sharing may prevent us from providing service. We will inform users of the expected or potential impact to their service before making any requested changes.</p>
    <h2>7. Cookies and Tracking Technologies</h2>
    <p>We may use cookies and similar technologies to collect information about your interactions with our services. You can manage your cookie preferences through your browser settings.</p>
    <h2>8. Children's Privacy</h2>
    <p>Our services are not intended for children under the age of 18. We do not knowingly collect or solicit personal information from children.</p>
    <h2>9. International Users</h2>
    <p>If you access our services from outside The United States of America, your information may be transferred to and processed in The United States of America or other jurisdictions. By using our services, you consent to such transfers.</p>
    <h2>10. Changes to this Policy</h2>
    <p>We may update this Policy to reflect changes in our practices or legal requirements. We will notify users of significant changes through appropriate channels, and will get active consent from users any time such changes are made.</p>
    <p>We will provide clear, plain-language, written summaries of what has changed, and ask users to accept the changes before accessing our sites, applications, products or services.</p>
    <h2>11. Contact Us</h2>
    <p>If you have questions or concerns about this Policy or our data practices, please contact infa@hiredlabs.org


</div>
</body>
</html>