{% extends 'new_home_base.html' %}
{% load form_helpers %}
{% load components %}
{% include 'modal.html' %}

    {% wrapper breadcrumbs %}
    <div>
        <nav class="flex container mx-auto p-2 text-sm" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-3 overflow-x-auto">
                {% block breadcrumbs %}
                {% endblock breadcrumbs %}
            </ol>
        </nav>
    </div>
    {% endwrapper %}

    {% block body %}
{#        flex min-h-full flex-col px-6 py-12 lg:px-8 #}
        <div class="flex min-h-full flex-col px-6 py-12 lg:px-8 justify-items-center md:mx-auto px-4 max-w-3xl">
        <form class="post-form space-y-4 max-w-md" method="post">
        {% csrf_token %}
        {% for field in form  %}
            {% include 'components/form_input.html' %}
        {% endfor %}
        <div>
            <input class="btn btn-primary" type="submit" value="Save">
            <a class="btn btn-primary" href="{% url 'home' %}">Cancel</a>
        </div>
    </form>
        </div>
    {% endblock body %}

