{% extends 'base_app.html' %}

{% load form_helpers %}

<body hx-headers='{"X-CSRFToken": "{{csrf_token}}"}'>
{% block content %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'staff' %}">
                Home
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navbar"
                    aria-expanded="false" aria-controls="navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="main-navbar">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="toolbox-dropdown" data-bs-toggle="dropdown" href="#"
                               role="button" aria-haspopup="true" aria-expanded="false">Toolbox
                            </a>
                            <ul class="dropdown-menu">
                                {% if perms.cold_apply %}
                                    <li><a class="dropdown-item" href="{% url 'cold_apply:index' %}">Cold Apply</a></li>
                                {% endif %}
                                {% if perms.rates %}
                                    <li><a class="dropdown-item" href="{% url 'rates:index' %}">World Rates</a></li>
                                {% endif %}
                                <li><a class="dropdown-item" href="{% url 'home' %}">View Public Site</a></li>
                                {% if user.is_staff %}
                                    <li><a class="dropdown-item" href="{% url 'admin:index' %}">Admin Panel</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="toolbox-dropdown" data-bs-toggle="dropdown" href="#"
                               role="button" aria-haspopup="true" aria-expanded="false">Settings
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'account:logout' %}">Logout</a></li>
                                {#                <li><a href="{% url 'userprofile:profile_view' %}">View Profile</a></li>#}
                                {#                  <li><a href="{% url 'userprofile:password_change' %}">Change Password</a></li>#}
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{% url 'userprofile:login' %}">Login</a></li>
                    {% endif %}
                </ul>
                <form class="navbar-form navbar-right">
                    {#            <input type="text" class="form-control" placeholder="Search...">#}
                </form>
            </div>
        </div>
    </nav>

    {% endblock content %}



