{% extends 'staff.html' %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{#TODO: Make this page sexier#}
{% block content %}
    <h1>
    {% if user.is_staff %}
        Thank you for working on the Hired Labs project!</h1>
   {% else %}
        Welcome to the Hired Labs project!</h1>
    {% endif %}
    <p>Here are the tools you have access to:</p>
    <br>
    <table class="table table-striped border">
        <thead>
        <tr>
            <th class="th">App Name</th>
            <th class="th">Description</th>
            <th class="th">Last Update</th>
            <th class="th">Release Notes</th>
        </tr>
        </thead>
        <tbody>
        {% for app in apps %}
            {% if app.name in perms %}
                <tr class="tr">
                    <td class="td">
                        {% if user.is_staff %}
                        <a class="admin_panel" href="{% url app.name|add:':index' %}">{{ app.name }}</a>
                        {% else %}
                        <a href="{% url app.name|add:':home' %}">{{ app.name }}</a>
                        {% endif %}
                        v{{ app.release_set.values.first.major }}.
                        {{ app.release_set.values.first.minor }}.
                        {{ app.release_set.values.first.patch }}
                    </td>
                    <td class="td">{{ app.description }}</td>
                    <td class="td">{{ app.release_set.values.first.date }}</td>
                    <td class="td"><a class="admin_panel" href="{% url 'releases:index' app.id %}">Go To Notes</a></td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}