{% extends 'staff.html' %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{#TODO: Make this page sexier#}
{% block content %}
    <p>Thank you for working on the Hired Labs project!</p>
    <br>
    <br>
    <p>Here are the tools you have access to:</p>
    <br>
    <ul>
        {% if perms.cold_apply %}
            <li><a class="dropdown-item" href="{% url 'cold_apply:index' %}">Cold Apply</a></li>
        {% else %}
            <p>You have access to nothing.</p>
            <br>
            <br>
            <p>If you think this is an error, please contact your administrator.</p>
        {% endif %}
        <a class="btn btn-primary" href="{% url 'releases:index' %}">Releases</a>
    </ul>
{% endblock %}
{% block header %}
{% endblock %}
{% block overview %}
{% endblock %}
{% block work %}
{% endblock %}
{% block education %}
{% endblock %}
{% block certs %}
{% endblock %}
{% block projects %}
{% endblock %}
{% block activities %}
{% endblock %}
{% block languages %}
{% endblock %}
{% block skills %}
{% endblock %}