{% extends 'staff.html' %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block content %}
    <p>Thank you for working on the Hired Labs project!</p>
    <br>
    <br>
    <p>Here are the tools you have access to:</p>
    <br>
    <p>Nothing here.</p>
{% endblock %}
{% block header %}
{% endblock %}
{% block overview %}
{% endblock %}
{% block work %}
{% endblock %}
{% block education %}
{% endblock %}
{% block certs %}
{% endblock %}
{% block projects %}
{% endblock %}
{% block activities %}
{% endblock %}
{% block languages %}
{% endblock %}
{% block skills %}
{% endblock %}