{% extends 'new_home_base.html' %}
{% load form_helpers %}
{% load components %}
{% include 'modal.html' %}

    {% wrapper breadcrumbs %}
    <div>
        <nav class="flex container mx-auto p-2 text-sm" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-3 overflow-x-auto">
                {% block breadcrumbs %}
                {% endblock breadcrumbs %}
            </ol>
        </nav>
    </div>
    {% endwrapper %}

    {% block body %}
        <div class="md:container grid grid-cols-1 gap-4 justify-items-center md:mx-auto px-4 max-w-3xl">
               <p>
                   Thank you!
               </p>
        </div>
    {% endblock body %}

