{% load form_helpers %}
<form hx-post="{% url 'cold_apply:update_job' form.instance.id %}" class="modal-content">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="text-xl font-bold">Set Job to {{form.instance.status}}?</h5>
    </div>
    <div class="py-4">
        {% for field in form %}
            {% if not field.name == 'status_reason' %}
                {{field|input_class:"hidden"}}
            {% endif %}
        {% endfor %}
        <p>Choose Reason:</p>
        {{form.status_reason}}
    </div>
    <div class="">
        <button class="btn btn-outline-primary" type="button" @click="showModal=false">Cancel</button>
        <button class="btn btn-primary" type="submit">Update</button>
    </div>
</form>