{% load form_helpers %}
<form hx-post="{% url 'cold_apply:create_title' %}" class="modal-content">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title">Create Title</h5>
    </div>
    <div class="modal-body">

        {% include 'components/form_input.html' with field=form.title %}
    </div>
    <div class="mt-5 flex justify-end gap-2">
        <button class="btn btn-outline-primary" type="button" @click="showModal=false">Cancel</button>
        <button class="btn btn-primary" type="submit">Create</button>
    </div>
</form>
  