{% load form_helpers %}

<form action="{% url 'cold_apply:create_bullet' participant.id %}"
      method="post"
      hx-target="this"
      hx-swap="outerHTML"
      hx-post="{% url 'cold_apply:create_bullet' participant.id %}"
      class="border py-2 px-3 rounded max-w-lg"
      x-data="{auto_generate: false }"
      x-init="auto_generate = $el['auto_generate'].value;"
      hx-indicator="find .hx-indicator"
      >
      
      {% csrf_token %}
      <div class="my-3">
        {% include 'components/form_input.html' with field=form.auto_generate input_attrs="x-model:auto_generate" %}
      </div>
      <div class="mb-3" x-show="auto_generate == 'False'">
        {% include 'components/form_input.html' with field=form.text %}
      </div>
      <div class="mb-3" x-show="auto_generate == 'True'">
          {% include 'components/form_input.html' with field=form.quantity %}
      </div>
      

      <div class="my-3">
        {% include 'components/form_input.html' with field=form.experience %}
      </div>
      
      <div class="my-3">
        {% include 'components/form_input.html' with field=form.skills %}
      </div>
      {% if form.non_field_errors %}

      <div class="bg-red-100 border border-red-500 text-red-900 px-4 py-3 rounded my-3 text-sm">
        {{form.non_field_errors}}
      </div>
      {% endif %}
    <div class="flex justify-end gap-2 items-center">
      {% include 'components/spinner.html' %}
     
      <button class="btn btn-outline-primary" type="button" hx-on="click: this.closest('form').remove()">Cancel</button>
      <button  class="btn btn-primary " type="submit">Add Bullet</button>
      
    </div>
</form>