{% load form_helpers %}

<form action="{% url 'cold_apply:create_bullet' participant.id %}"
      method="post"
      hx-target="this"
      hx-swap="outerHTML"
      hx-post="{% url 'cold_apply:create_bullet' participant.id %}"
      class="border py-2 px-3 rounded"
      x-data="{auto_generate: false }"
      x-init="auto_generate = $el['auto_generate'].value;"
      hx-indicator=".htmx-indicator"
      >
      
      {% csrf_token %}
      <div class="my-3">
        <div class="fw-semibold">Auto Generate</div>
        {{form.auto_generate|input_attrs:"x-model:auto_generate"}}
      </div>
      {% comment %} <div  class="mb-3" x-show="auto_generate == 'True'">
        <div class="fw-semibold">
            Tailor to Job (optional)
        </div>
        {{form.job}}
      </div> {% endcomment %}
      <div class="mb-3" x-show="auto_generate == 'False'">
        <div class="fw-semibold">
          Text
        </div>
      {{form.text}}
    </div>
      

      <div class="my-3">
        <div class="fw-semibold">Experience</div>
        {{form.experience}}
      </div>
      
      <div class="my-3">
        <div class="fw-semibold">Skills</div>
        {{form.skills}}
      </div>
    {{form.non_field_errors}}
    <div class="d-flex align-items-center">
      <button  class="btn btn-primary me-2" type="submit">Add Bullet</button>
      <button class="btn btn-outline-primary me-3" type="button" hx-on="click: this.closest('form').remove()">Cancel</button>
      <div class="spinner-border text-primary htmx-indicator" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    {{form.errors}}
</form>