{% load form_helpers %}
{% for field in form %}
            {% include 'components/form_input.html' %}
            {% if field.name == "title" %}
                {% url 'cold_apply:create_title' as create_title_url %}
                <div class="text-end pt-1">
                    <a  href="{{create_title_url}}" 
                        hx-get="{{create_title_url}}"
                        hx-target="#modal">
                        Add new Title
                    </a>
                </div>
            {% endif %}
            {% if field.name == "company" %}
                {% url 'cold_apply:create_company' as create_company_url %}
                <div class="text-end pt-1">
                    <a  href="{{create_company_url}}" 
                        hx-get="{{create_company_url}}"
                        hx-target="#modal">
                        Add new Company
                    </a>
                </div>
            {% endif %}
            {% if field.name == "location" %}
                {% url 'cold_apply:create_location' as create_location_url %}
                <div class="flex justify-between pt-1">
                    <div>
                        {% if job.auto_generated %}
                            Location from source ({{job.location_detail}})
                        {% endif %}
                    </div>
                    <div><a  href="{{create_location_url}}" 
                        hx-get="{{create_location_url}}"
                        hx-target="#modal">
                        Add new Location
                    </a></div>
                    
                </div>
            {% endif %}
   
{% endfor %}