{% load form_helpers %}
{% for field in form %}
    <div class="mb-3 row">
        <label for="{{field.id_for_label}}" class="col-sm-3 col-form-label">{{field.label}}</label>
        <div class="col-sm-9">
            
            {{field|bootstrap_input}}
            {% if field.name == "title" %}
                {% url 'cold_apply:create_title' as create_title_url %}
                <div class="text-end pt-1">
                    <a  href="{{create_title_url}}" 
                        hx-get="{{create_title_url}}"
                        hx-target="#modal">
                        Add new Title
                    </a>
                </div>
            {% endif %}
            {% if field.name == "company" %}
                {% url 'cold_apply:create_company' as create_company_url %}
                <div class="text-end pt-1">
                    <a  href="{{create_company_url}}" 
                        hx-get="{{create_company_url}}"
                        hx-target="#modal">
                        Add new Company
                    </a>
                </div>
            {% endif %}
            {% if field.name == "location" %}
                {% url 'cold_apply:create_location' as create_location_url %}
                <div class="d-flex justify-content-between pt-1">
                    <div>
                        {% if job.auto_generated %}
                            Location from source ({{job.location_detail}})
                        {% endif %}
                    </div>
                    <div><a  href="{{create_location_url}}" 
                        hx-get="{{create_location_url}}"
                        hx-target="#modal">
                        Add new Location
                    </a></div>
                    
                </div>
            {% endif %}
        </div>
    {% if field.errors %}
        <span class="text-danger">{{field.errors}}</span>
    {% endif %}
    </div>
{% endfor %}