
<form action="?form=new_jobs" method="post" id="new-jobs-table">
    {% csrf_token %}
    <table class="table border border-1">
        <thead>
            <tr>
                <th>Title</th>
                <th>Company</th>
                <th>Location</th>
                <th>Salary</th>
                <th>Posting</th>
                <th>Posted At</th>
                <th>Uploaded</th>
                <th>Interested</th>
            </tr>
        </thead>
        <tbody x-data="{open: 0, checked: []}">
            {% for job in jobs.new %}
                    <tr style="cursor: pointer;" 
                        :class="{'bg-light': open==={{forloop.counter}}, 'bg-success-subtle': checked.includes('{{job.id}}')}" 
                        @click="open= open==={{forloop.counter}} ? 0 : {{forloop.counter}}"
                        >
                        <td style="width: 20%" class="" :class="{'fw-bold': open=={{forloop.counter}}}" >
                            <div class="d-flex justify-content-between">
                                <div>{{job.title}}</div>
                            <div class="pe-2">
                                <i :class="open==={{forloop.counter}} ? 'bi-chevron-double-down' : 'bi-chevron-double-right'"></i>
                            </div>
                            </div>
                            
                        </td>
                        <td>{{job.company_detail}}</td>
                        <td>{{job.location_detail}}</td>
                        <td>{{job.salary}}</td>
                        <td><a href="{{job.application_link|safe}}">{{job.application_agent}}</a></td>
                        <td>{{job.posted_at|date:"d/m/y"}}</td>
                        <td>{{job.created_at|date:"d/m/y"}}</td>
                        <td>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" x-model="checked" value="{{job.id}}" name="jobs" role="switch" id="flexSwitchCheckDefault" 
                                    @click="$event.stopPropagation();">
                              </div>
                              
                        </td>
                        
                    </tr>
                    <tr :class="checked.includes('{{job.id}}') ? 'bg-success-subtle': 'bg-light'"
                        x-show="open=={{forloop.counter}}" 
                        style="border-top-style: hidden !important;" >
                        <td colspan="9" class="p-2 m-0">
                            <div style="white-space: pre-wrap;">{{job.description}}</div>
                        </td>
                    </tr>

            {% endfor %}
        </tbody>
    </table>
    <div class="d-flex justify-content-end">
        <button class="btn btn-primary" type="submit">Add Selected Jobs</button>
    </div>
    </form>