
{% url 'cold_apply:task_status' as task_url %}

{% if task is None %}
    <div>
        <div role="alert" class="rounded border-s-4 border-red-500 bg-red-50 p-4">
            <strong class="block font-medium text-red-800">Job Search</strong>
            <div class="flex justify-between text-red-700 mt-2 text-sm" role="alert">
                <div>Job search failed or timed out.</div>
            </div>
        </div>
    </div>
{% else %}
<div hx-get="{% url 'cold_apply:task_status' %}" 
    hx-trigger="every 5s"
    hx-swap="outerHTML"
    id="task-alert"
    
    >
    <div role="alert" class="rounded border-s-4 border-green-500 bg-green-50 p-4">
        <strong class="block font-medium text-green-800">Job Search</strong>
        <div class="flex justify-between text-green-700 mt-2 text-sm" role="alert">
            <div class="">Finding Jobs...</div>
            {% include 'components/spinner.html' %}
        </div>
    </div>
</div>
{% endif %}