
{% url 'cold_apply:task_status' as task_url %}

{% if task is None %}
    <div>
        <div class="alert alert-danger d-flex justify-content-between" role="alert">
            <div>Job search failed or timed out.</div>
        </div>
    </div>
{% else %}
<div hx-get="{% url 'cold_apply:task_status' %}" 
    hx-trigger="every 5s"
    hx-swap="outerHTML"
    id="task-alert"
    
    >
    <div class="alert alert-info d-flex justify-content-between" role="alert">
        <div>Finding Jobs...</div>
        <div class="spinner-border text-info" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        
    </div>
</div>
{% endif %}